In [7]:
import pandas as pd
import os

import firebase_admin
from firebase_admin import credentials, firestore

In [2]:
json_key = './fire/firebase-config.json'

In [3]:
cred = credentials.Certificate(json_key)

firebase_admin.initialize_app(cred,
                            {'storageBucket': 'gs://teste-restaurantes.appspot.com',
                            'projectId': 'teste-restaurantes'}
                            )

In [4]:
df = pd.read_csv('dados_lj.csv')

In [5]:
df.head()

,id,nome,resource,localizacao,categoria,tx_delivery,pedido_minimo
0,95c7c20a-728e-4984-b39c-035f6e291d2a,Gold Burger Sanduicheria,https://static-images.ifood.com.br/image/uploa...,senador-canedo-go,Lanches,0.0,15.0
1,b06ce7bd-6386-43d9-a785-4b3d9b577d8c,Nativos A√ßa√≠,https://static-images.ifood.com.br/image/uploa...,senador-canedo-go,A√ßa√≠,0.0,8.0
2,3747779d-967e-4b49-8278-646e63a39dbf,Casa do A√ßa√≠,https://static-images.ifood.com.br/image/uploa...,senador-canedo-go,A√ßa√≠,0.0,10.0
3,3591705c-1f61-4e17-8844-05dcc90362e0,Espetos Grill üçñ,https://static-images.ifood.com.br/image/uploa...,senador-canedo-go,Brasileira,3.0,10.0
4,cc4bdc76-656a-4670-8802-b023fae92378,D Esfihas,https://static-images.ifood.com.br/image/uploa...,senador-canedo-go,Lanches,5.0,10.0

In [8]:
db = firestore.client()

In [9]:
colecao = 'restaurantes'

In [10]:
def put_data(colection: str, df: pd.DataFrame) -> None:
    '''
    Function to put data on cloud firestore
    '''
    try:
        doc_ref = db.collection(colection)

        rows = df.to_dict(orient='records')
        list(map(lambda x: doc_ref.add(x), rows))

    except Exception as e:
        print(e)

In [11]:
put_data(colecao, df)

TypeError: put_data() missing 1 required positional argument: 'df'