In [2]:
import pandas as pd
import numpy as np
from faker import Faker

In [3]:
faker = Faker('pt_BR')

In [4]:
faker.profile()

{'job': 'Cinematográfo',
 'company': 'das Neves',
 'ssn': '79802136530',
 'residence': 'Vereda Jesus, 36\nMarieta 3ª Seção\n56645-328 Pereira das Pedras / AM',
 'current_location': (Decimal('-41.929511'), Decimal('51.543927')),
 'blood_group': 'O-',
 'website': ['https://www.ferreira.net/',
  'https://melo.br/',
  'https://almeida.com/'],
 'username': 'cavalcantiisadora',
 'name': 'Manuela Cavalcanti',
 'sex': 'F',
 'address': 'Feira de Lima\nJuliana\n64586639 Nunes do Oeste / RJ',
 'mail': 'milena93@ig.com.br',
 'birthdate': datetime.date(2010, 2, 23)}

### Esta lib gera dados ficticios

In [5]:
def make_fake_data(n_rows: int) -> pd.DataFrame:
    faker = Faker('pt_BR')

    aux = faker.profile()
    aux.pop('address')
    aux.pop('mail')
    # até aqui está gerando 1 dict, dropando alguns campos para capturar a estrutura dos dicts no proximo passo

    cols = list(aux.keys())

    array = []
    for _ in range(n_rows):
        aux = faker.profile()
        aux.pop('address')
        aux.pop('mail')

        array.append(list(aux.values()))

    res = pd.DataFrame(columns=cols, data=array)
    return res

In [6]:
df = make_fake_data(1000)

In [7]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
3,Engenheiro de produção agroindustrial,Aragão da Mota Ltda.,13975462043,"Via Cardoso, 65\nMinas Brasil\n69494149 Azeved...","(59.609883, -45.639861)",AB+,[http://cardoso.br/],fogacamaysa,Luiz Gustavo da Mata,M,1979-09-14
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03

In [8]:
df.shape

(1000, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   object
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  birthdate         1000 non-null   object
dtypes: object(11)
memory usage: 86.1+ KB

In [10]:
# transformar uma coluna object para inteiro

df.ssn = df.ssn.astype(np.int64)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   int64
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  birthdate         1000 non-null   object
dtypes: int64(1), object(10)
memory usage: 86.1+ KB

In [12]:
df.describe()

                ssn
count  1.000000e+03
mean   5.054658e+10
std    2.888691e+10
min    1.238976e+09
25%    2.558442e+10
50%    5.056718e+10
75%    7.591637e+10
max    9.874156e+10

### Usando metodo copy em um dataframe

In [13]:
# se não usar o copy pode ser q ao alterar o df a alteração afete o df2 tbm
df2 = df.copy()
df2.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
3,Engenheiro de produção agroindustrial,Aragão da Mota Ltda.,13975462043,"Via Cardoso, 65\nMinas Brasil\n69494149 Azeved...","(59.609883, -45.639861)",AB+,[http://cardoso.br/],fogacamaysa,Luiz Gustavo da Mata,M,1979-09-14
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03

In [14]:
df2.drop(0, inplace=True)

In [15]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
3,Engenheiro de produção agroindustrial,Aragão da Mota Ltda.,13975462043,"Via Cardoso, 65\nMinas Brasil\n69494149 Azeved...","(59.609883, -45.639861)",AB+,[http://cardoso.br/],fogacamaysa,Luiz Gustavo da Mata,M,1979-09-14
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03

In [16]:
df2.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
3,Engenheiro de produção agroindustrial,Aragão da Mota Ltda.,13975462043,"Via Cardoso, 65\nMinas Brasil\n69494149 Azeved...","(59.609883, -45.639861)",AB+,[http://cardoso.br/],fogacamaysa,Luiz Gustavo da Mata,M,1979-09-14
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03
5,Plastimodelista,das Neves,46327815928,"Condomínio de Caldeira, 73\nVila Da Paz\n42017...","(70.6911485, -65.333709)",O+,"[http://www.costela.br/, http://www.souza.br/,...",qaragao,Dr. Nathan Barbosa,M,1960-02-26

### Filtros

In [17]:
# o loc pode ser usado para filtrar uma linha de acordo com o index
df.loc[4]

job                                   Tecnólogo em produção moveleira
company                                                          Dias
ssn                                                       41395627819
residence           Parque João da Costa, 39\nConjunto Capitão Edu...
current_location                               (2.5948175, 19.847110)
blood_group                                                        B-
website             [https://aragao.com/, https://www.cavalcanti.o...
username                                                     enrico84
name                                                Juliana das Neves
sex                                                                 F
birthdate                                                  2019-07-03
Name: 4, dtype: object

In [18]:
# o iloc  pode ser usado para filtrar uma linha de acordo com a ordem na memoria
df.iloc[4]

job                                   Tecnólogo em produção moveleira
company                                                          Dias
ssn                                                       41395627819
residence           Parque João da Costa, 39\nConjunto Capitão Edu...
current_location                               (2.5948175, 19.847110)
blood_group                                                        B-
website             [https://aragao.com/, https://www.cavalcanti.o...
username                                                     enrico84
name                                                Juliana das Neves
sex                                                                 F
birthdate                                                  2019-07-03
Name: 4, dtype: object

In [19]:
# filtrando varias colunas
df[['job', 'sex', 'ssn']]

                                       job sex          ssn
0                 Vistoriador de sinistros   F  46751830939
1                             Neurologista   F  36415280708
2                              Comerciante   F  41395268746
3    Engenheiro de produção agroindustrial   M  13975462043
4          Tecnólogo em produção moveleira   F  41395627819
..                                     ...  ..          ...
995                     Operador de bombas   M  15860749201
996                Presidente da República   F  17936840222
997                           Cabeleireiro   M  40597632847
998                      Engenheiro têxtil   F  20896437574
999                              Motorista   F  70823145905

[1000 rows x 3 columns]

In [20]:
# slice dataset
# usando apenas "df.sex == 'F'" retorna um array de true e false e usando ele dentro dos [] ele serve como filtro
df[df.sex == 'F']

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03
6,Tecnólogo em silvicultura,Silva,1872539602,"Núcleo de Alves, 71\nMangueiras\n18058-565 Ram...","(-2.309881, 71.051156)",A+,"[https://www.castro.org/, http://www.da.br/]",mcardoso,Alexia Pereira,F,1952-04-14
...,...,...,...,...,...,...,...,...,...,...,...
991,Controlador de vôo,Martins,4698235189,Vila de Araújo\nConjunto Jardim Filadélfia\n55...,"(51.247155, 100.881681)",O+,"[http://peixoto.com/, https://www.da.br/]",maria-sophia43,Srta. Stephany Castro,F,1982-10-05
994,Consultor de moda,da Luz Oliveira - EI,75940612849,Feira Melissa Ferreira\nVila Nova Dos Milionar...,"(19.7613475, -121.307103)",A-,"[http://www.fernandes.com/, http://www.novaes....",oalves,Juliana Campos,F,1925-04-06
996,Presidente da República,Nascimento Farias S/A,17936840222,"Vale Fogaça, 8\nErmelinda\n75126-258 Moreira / MT","(58.6885005, -85.801808)",A+,"[https://www.cardoso.com/, http://moreira.com/...",aragaodavi-luiz,Sra. Beatriz Porto,F,1949-11-17
998,Engenheiro têxtil,Barros,20896437574,"Residencial de Cardoso, 86\nVila Barragem Sant...","(29.1206645, -165.611282)",AB-,"[https://freitas.br/, http://sales.net/, http:...",camposnicolas,Sra. Ana Laura Aragão,F,1991-02-25
999,Motorista,Dias,70823145905,"Colônia de da Paz, 888\nVila Pinho\n57166-060 ...","(-53.170418, -14.825609)",B+,"[http://www.cunha.br/, http://www.peixoto.net/]",matheusviana,Milena Castro,F,1912-09-18

In [22]:
# slicing utilizando 2 ou mais condições
df[(df.sex == 'F') & (df.company == 'Dias')]

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03
785,Capelão,Dias,23764510862,"Núcleo Bruna Moreira, 29\nGraça\n84788-026 da ...","(-72.6081625, 139.730181)",AB-,"[http://www.viana.net/, http://www.da.org/, ht...",nataliapires,Clarice Gomes,F,1981-10-19
999,Motorista,Dias,70823145905,"Colônia de da Paz, 888\nVila Pinho\n57166-060 ...","(-53.170418, -14.825609)",B+,"[http://www.cunha.br/, http://www.peixoto.net/]",matheusviana,Milena Castro,F,1912-09-18

In [23]:
# outra forma de fazer slicing
df.query("sex == 'F'")

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03
6,Tecnólogo em silvicultura,Silva,1872539602,"Núcleo de Alves, 71\nMangueiras\n18058-565 Ram...","(-2.309881, 71.051156)",A+,"[https://www.castro.org/, http://www.da.br/]",mcardoso,Alexia Pereira,F,1952-04-14
...,...,...,...,...,...,...,...,...,...,...,...
991,Controlador de vôo,Martins,4698235189,Vila de Araújo\nConjunto Jardim Filadélfia\n55...,"(51.247155, 100.881681)",O+,"[http://peixoto.com/, https://www.da.br/]",maria-sophia43,Srta. Stephany Castro,F,1982-10-05
994,Consultor de moda,da Luz Oliveira - EI,75940612849,Feira Melissa Ferreira\nVila Nova Dos Milionar...,"(19.7613475, -121.307103)",A-,"[http://www.fernandes.com/, http://www.novaes....",oalves,Juliana Campos,F,1925-04-06
996,Presidente da República,Nascimento Farias S/A,17936840222,"Vale Fogaça, 8\nErmelinda\n75126-258 Moreira / MT","(58.6885005, -85.801808)",A+,"[https://www.cardoso.com/, http://moreira.com/...",aragaodavi-luiz,Sra. Beatriz Porto,F,1949-11-17
998,Engenheiro têxtil,Barros,20896437574,"Residencial de Cardoso, 86\nVila Barragem Sant...","(29.1206645, -165.611282)",AB-,"[https://freitas.br/, http://sales.net/, http:...",camposnicolas,Sra. Ana Laura Aragão,F,1991-02-25
999,Motorista,Dias,70823145905,"Colônia de da Paz, 888\nVila Pinho\n57166-060 ...","(-53.170418, -14.825609)",B+,"[http://www.cunha.br/, http://www.peixoto.net/]",matheusviana,Milena Castro,F,1912-09-18

In [24]:
# retorna linhas aleatorias do seu dataset para realizar amostragem
df.sample(9)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
557,Torreiro/Torrista,Gomes,72154830617,"Feira de Pereira, 76\nPirineus\n84258101 Dias ...","(-89.040159, 128.391706)",B+,"[https://silva.org/, http://cavalcanti.com/, h...",lucca51,João Lima,M,1928-06-30
455,Mecânico,Lima e Filhos,75401639252,"Via Jesus, 88\nJardim Dos Comerciarios\n186405...","(46.781218, -36.646175)",B-,[http://da.org/],ana-laura74,Daniel da Luz,M,1965-03-30
940,Jornalista,Nogueira Barbosa - EI,96713450857,"Esplanada Camila da Rosa, 563\nVila Nova\n1791...","(40.4707105, 116.800886)",A+,[https://almeida.br/],cardosodiego,André da Conceição,M,2015-12-20
186,Judoca,Azevedo Lima S.A.,48325719664,"Núcleo Heitor Souza, 5\nMiramar\n28479-969 Alv...","(25.7347585, 167.436493)",AB+,"[https://da.net/, http://costela.br/, https://...",amartins,Laura Rezende,F,1960-02-01
558,Contramestre em transporte marítimo,da Rosa Ltda.,83124697022,"Rua Brenda Sales, 2\nVila Nova Paraíso\n034402...","(69.4663965, 130.680635)",O+,"[https://www.costa.org/, http://melo.br/, http...",zda-mota,Sr. Gabriel Rodrigues,M,1932-11-05
467,Separador,Nunes,82716430535,Rodovia Brenda das Neves\nSion\n09370-824 Mont...,"(-52.584789, 30.250952)",A+,"[http://moraes.net/, http://www.oliveira.com/,...",teixeiravinicius,João Pereira,M,1984-04-04
804,Escultor,da Cunha,36954072800,"Via da Conceição, 28\nVila Formosa\n98105637 d...","(-82.277534, -20.222515)",AB+,[https://costela.com/],hcostela,Breno Pires,M,1958-08-23
601,Kite-surfer,da Luz,60175483280,"Viaduto de Alves, 93\nBoa União 2ª Seção\n9113...","(7.625095, 36.307740)",AB+,"[http://www.pires.com/, https://www.ferreira.c...",luiz-miguelribeiro,Srta. Daniela das Neves,F,1917-02-02
238,Regente,Freitas,70432586938,"Recanto Sales, 23\nVila São Francisco\n72452-0...","(-54.508991, 56.743869)",AB-,"[https://www.almeida.br/, http://www.silveira....",ana-vitoria80,Luiz Henrique Cavalcanti,M,1928-08-12

In [26]:
# trazer os dados se o campo começa com <cadeiacaracter>.
df[df.name.str.startswith("João")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
29,Promotor público/de justiça,Almeida,61732098530,Sítio João Lucas da Cruz\nPalmares\n28045483 S...,"(-3.383139, 31.857693)",AB+,"[http://www.carvalho.org/, https://www.caldeir...",catarina24,João Gabriel Viana,M,2002-02-19
68,Profissional de educação física,Moreira,39510786268,Chácara Duarte\nPiratininga\n13230512 Novaes / AM,"(39.774900, 97.633434)",B-,"[http://barros.br/, https://www.pereira.br/]",stellafogaca,João Vitor Pinto,M,1958-08-28
116,Cirurgião dentista,Viana Freitas Ltda.,36781052977,"Área Maria Luiza da Luz, 977\nNovo Santa Cecil...","(28.705712, 70.138640)",AB+,"[http://pires.net/, https://peixoto.com/]",luiz-felipe10,João Miguel da Rocha,M,1959-04-12
127,Tecnólogo em recursos pesqueiros,Araújo,50318724626,"Condomínio de Cunha, 950\nVila Nova Dos Milion...","(16.040326, 151.235651)",O+,"[https://www.da.br/, http://freitas.br/, http:...",joao-gabrieldias,João Felipe Vieira,M,1939-09-20
144,Profissional de relações públicas,Pires S/A,70438219597,"Conjunto Cauã Costa, 71\nGrotinha\n83964034 da...","(89.102010, -167.335539)",B-,"[https://www.duarte.net/, https://da.br/]",silveiraguilherme,João Gabriel Oliveira,M,1948-11-14

In [32]:
# Termina com
df[df.name.str.endswith("Alves")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
8,Panfleteiro,Ribeiro,13560872995,"Lagoa de da Paz, 20\nVila Paraíso\n20023673 Te...","(-24.9578115, 67.906760)",O-,"[http://www.correia.com/, https://cardoso.com/]",marceloazevedo,Julia Alves,F,1944-07-04
117,Caminhoneiro,Carvalho,78962104520,"Área de Cavalcanti, 7\nMilionario\n28511-943 M...","(-18.029002, 50.716030)",AB+,"[https://da.br/, http://ramos.com/, http://www...",martinsyasmin,Milena Alves,F,1955-05-10
156,Profissional de relações internacionais,Gomes,26813540726,"Esplanada Melo, 64\nTupi B\n64529312 Pinto / PR","(34.5686925, 17.796756)",O-,[https://silveira.com/],laura44,Lucas Gabriel Alves,M,1987-06-29
202,Médico geneticista,Alves e Filhos,62503148905,"Conjunto de Ferreira, 84\nJoão Paulo Ii\n51958...","(-10.222471, 97.035453)",O+,"[https://www.caldeira.com/, https://www.montei...",fernandesigor,Benício Alves,M,1968-01-26

In [31]:
# Contem
df[df.name.str.contains("Alves")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
8,Panfleteiro,Ribeiro,13560872995,"Lagoa de da Paz, 20\nVila Paraíso\n20023673 Te...","(-24.9578115, 67.906760)",O-,"[http://www.correia.com/, https://cardoso.com/]",marceloazevedo,Julia Alves,F,1944-07-04
117,Caminhoneiro,Carvalho,78962104520,"Área de Cavalcanti, 7\nMilionario\n28511-943 M...","(-18.029002, 50.716030)",AB+,"[https://da.br/, http://ramos.com/, http://www...",martinsyasmin,Milena Alves,F,1955-05-10
156,Profissional de relações internacionais,Gomes,26813540726,"Esplanada Melo, 64\nTupi B\n64529312 Pinto / PR","(34.5686925, 17.796756)",O-,[https://silveira.com/],laura44,Lucas Gabriel Alves,M,1987-06-29
202,Médico geneticista,Alves e Filhos,62503148905,"Conjunto de Ferreira, 84\nJoão Paulo Ii\n51958...","(-10.222471, 97.035453)",O+,"[https://www.caldeira.com/, https://www.montei...",fernandesigor,Benício Alves,M,1968-01-26

In [35]:
# pelo tamanho do dado
df[df.company.str.len()>27]

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
85,Profissional de reciclagem,Cavalcanti Rodrigues e Filhos,27845031941,"Distrito Davi Campos, 161\nNova Suíça\n7982588...","(-25.311126, -141.536075)",B+,[https://oliveira.net/],xcampos,Rafael Rocha,M,2019-09-21
421,Separador,da Conceição Monteiro e Filhos,35602849700,"Via de Sales, 54\nSão José\n84250751 Almeida / TO","(-35.0468645, 167.447196)",B+,"[https://pires.br/, http://silva.com/, http://...",qda-mata,Miguel Barbosa,M,1999-01-08
578,Judoca,da Mota da Conceição e Filhos,40237965810,"Condomínio Alves, 341\nPirineus\n28729222 Azev...","(30.518676, 26.714960)",A+,"[http://www.costela.br/, https://santos.com/]",fernandesmaysa,Juan Barbosa,M,1948-12-14

In [37]:
# Passar uma lista na condição (IsIn)
grupos_sang = ['O+', 'A-']
df[df.blood_group.isin(grupos_sang)].head(3)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
5,Plastimodelista,das Neves,46327815928,"Condomínio de Caldeira, 73\nVila Da Paz\n42017...","(70.6911485, -65.333709)",O+,"[http://www.costela.br/, http://www.souza.br/,...",qaragao,Dr. Nathan Barbosa,M,1960-02-26
19,Bedel,Carvalho Ltda.,16302749840,"Travessa Daniela da Mota, 42\nJardim América\n...","(-13.201328, 93.546838)",A-,"[https://da.br/, http://rocha.net/, http://www...",samuel09,Ana Julia Duarte,F,1908-02-11
22,Esteticista,Duarte,32486510753,"Trevo Henrique da Costa, 88\nBaleia\n13367-401...","(-14.1993255, -94.499141)",A-,"[https://www.cavalcanti.br/, https://www.sales...",lferreira,Dr. Lucas Gabriel Araújo,M,1956-01-07

In [38]:
# trazer os dados qndo uma variavel é nula
df[pd.isnull(df.ssn)]

Empty DataFrame
Columns: [job, company, ssn, residence, current_location, blood_group, website, username, name, sex, birthdate]
Index: []

In [39]:
# negação de condição
df[~pd.isnull(df.ssn)]

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Vistoriador de sinistros,Moraes S/A,46751830939,Viaduto Luiz Felipe da Mata\nBuritis\n66533-68...,"(-6.4383875, 10.084124)",O-,[https://www.moreira.br/],laracosta,Isadora Teixeira,F,2018-12-09
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
2,Comerciante,Barros Ltda.,41395268746,"Vale Francisco Ramos, 2\nXangri-Lá\n37092-109 ...","(75.228294, 86.553256)",B-,"[http://www.monteiro.br/, http://araujo.br/, h...",rodriguesalice,Isabel Alves,F,2016-02-09
3,Engenheiro de produção agroindustrial,Aragão da Mota Ltda.,13975462043,"Via Cardoso, 65\nMinas Brasil\n69494149 Azeved...","(59.609883, -45.639861)",AB+,[http://cardoso.br/],fogacamaysa,Luiz Gustavo da Mata,M,1979-09-14
4,Tecnólogo em produção moveleira,Dias,41395627819,"Parque João da Costa, 39\nConjunto Capitão Edu...","(2.5948175, 19.847110)",B-,"[https://aragao.com/, https://www.cavalcanti.o...",enrico84,Juliana das Neves,F,2019-07-03
...,...,...,...,...,...,...,...,...,...,...,...
995,Operador de bombas,da Luz e Filhos,15860749201,Viaduto Nascimento\nBaleia\n79324-279 Silveira...,"(21.8469835, -158.836449)",A+,"[http://www.peixoto.br/, https://www.campos.ne...",kevinmoura,Miguel Jesus,M,2000-04-03
996,Presidente da República,Nascimento Farias S/A,17936840222,"Vale Fogaça, 8\nErmelinda\n75126-258 Moreira / MT","(58.6885005, -85.801808)",A+,"[https://www.cardoso.com/, http://moreira.com/...",aragaodavi-luiz,Sra. Beatriz Porto,F,1949-11-17
997,Cabeleireiro,Moraes S.A.,40597632847,"Campo de Vieira, 6\nVila Piratininga\n30212073...","(-78.2216955, 117.774014)",O+,"[https://nunes.com/, https://duarte.org/, http...",cardosomilena,Pedro Miguel Caldeira,M,1980-08-14
998,Engenheiro têxtil,Barros,20896437574,"Residencial de Cardoso, 86\nVila Barragem Sant...","(29.1206645, -165.611282)",AB-,"[https://freitas.br/, http://sales.net/, http:...",camposnicolas,Sra. Ana Laura Aragão,F,1991-02-25
999,Motorista,Dias,70823145905,"Colônia de da Paz, 888\nVila Pinho\n57166-060 ...","(-53.170418, -14.825609)",B+,"[http://www.cunha.br/, http://www.peixoto.net/]",matheusviana,Milena Castro,F,1912-09-18

### Inserindo colunas no dataframe

In [47]:
# gerando um dataframe por amostragem
df2 = df.copy()
df2 = df2.sample(10)
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
497,Projetista mecânico,Gonçalves,28951673464,Recanto de Farias\nConjunto Providencia\n06151...,"(63.7621115, -126.436840)",AB-,"[https://www.correia.com/, https://duarte.net/...",ana-sophiapires,Cauã Duarte,M,1946-08-11
486,Juiz de direito,Aragão Pires - EI,78406915366,"Estação de Sales, 499\nPetropolis\n95139337 Mo...","(15.7313935, -163.029281)",A-,"[https://da.com/, https://www.da.br/, https://...",ian46,Isabel da Paz,F,1940-09-27
232,Físico nuclear,Oliveira Pires Ltda.,21947065343,"Morro Cardoso, 32\nNova Pampulha\n89162663 da ...","(40.5824895, 143.345633)",A+,[http://da.br/],nogueiracaio,João Felipe Lima,M,2017-12-04
779,Peixeiro,Campos,52670398103,"Campo de Cardoso, 384\nCônego Pinheiro 2ª Seçã...","(62.5514235, -21.288615)",A-,"[https://da.br/, http://www.cardoso.org/]",gomesana,Maria Julia Nascimento,F,2003-06-08
130,Xilógrafo,Cardoso,8314925624,"Morro Maria Cecília Duarte, 2\nNova America\n3...","(76.412237, -111.375502)",A+,"[https://azevedo.br/, http://barbosa.org/]",qsilveira,Raul Barros,M,1954-08-31
634,Maquinista,Jesus,51306892406,"Morro Castro, 4\nDona Clara\n66102-710 Almeida...","(48.5553835, 56.948884)",AB-,"[https://www.azevedo.com/, http://www.ramos.br/]",anovaes,Clarice da Cruz,F,1937-01-07
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
279,Representante comercial,das Neves Cardoso Ltda.,2963748574,"Jardim de Peixoto, 518\nJardim América\n448987...","(37.6627095, 48.980621)",O-,"[https://www.rodrigues.org/, https://www.santo...",henrique61,Evelyn Caldeira,F,1908-01-05
853,Pneumologista,Cardoso,89342510779,"Campo Moreira, 82\nSolimoes\n82845794 Alves / ES","(52.9687935, -127.960476)",B+,[https://www.mendes.com/],pcosta,Yasmin Correia,F,1986-08-28
959,Caixa,Viana,7215849694,"Sítio de Campos, 65\nMaria Helena\n95052-454 P...","(78.447302, 33.236189)",A+,[http://www.sales.com/],matheusfreitas,Lorena Novaes,F,1983-01-14

> `Inserindo uma chave primaria para a amostragem`

In [48]:
# Este metodo sempre insere  à direita do df
df2['ID'] = range(df2.shape[0])
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate,ID
497,Projetista mecânico,Gonçalves,28951673464,Recanto de Farias\nConjunto Providencia\n06151...,"(63.7621115, -126.436840)",AB-,"[https://www.correia.com/, https://duarte.net/...",ana-sophiapires,Cauã Duarte,M,1946-08-11,0
486,Juiz de direito,Aragão Pires - EI,78406915366,"Estação de Sales, 499\nPetropolis\n95139337 Mo...","(15.7313935, -163.029281)",A-,"[https://da.com/, https://www.da.br/, https://...",ian46,Isabel da Paz,F,1940-09-27,1
232,Físico nuclear,Oliveira Pires Ltda.,21947065343,"Morro Cardoso, 32\nNova Pampulha\n89162663 da ...","(40.5824895, 143.345633)",A+,[http://da.br/],nogueiracaio,João Felipe Lima,M,2017-12-04,2
779,Peixeiro,Campos,52670398103,"Campo de Cardoso, 384\nCônego Pinheiro 2ª Seçã...","(62.5514235, -21.288615)",A-,"[https://da.br/, http://www.cardoso.org/]",gomesana,Maria Julia Nascimento,F,2003-06-08,3
130,Xilógrafo,Cardoso,8314925624,"Morro Maria Cecília Duarte, 2\nNova America\n3...","(76.412237, -111.375502)",A+,"[https://azevedo.br/, http://barbosa.org/]",qsilveira,Raul Barros,M,1954-08-31,4
634,Maquinista,Jesus,51306892406,"Morro Castro, 4\nDona Clara\n66102-710 Almeida...","(48.5553835, 56.948884)",AB-,"[https://www.azevedo.com/, http://www.ramos.br/]",anovaes,Clarice da Cruz,F,1937-01-07,5
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31,6
279,Representante comercial,das Neves Cardoso Ltda.,2963748574,"Jardim de Peixoto, 518\nJardim América\n448987...","(37.6627095, 48.980621)",O-,"[https://www.rodrigues.org/, https://www.santo...",henrique61,Evelyn Caldeira,F,1908-01-05,7
853,Pneumologista,Cardoso,89342510779,"Campo Moreira, 82\nSolimoes\n82845794 Alves / ES","(52.9687935, -127.960476)",B+,[https://www.mendes.com/],pcosta,Yasmin Correia,F,1986-08-28,8
959,Caixa,Viana,7215849694,"Sítio de Campos, 65\nMaria Helena\n95052-454 P...","(78.447302, 33.236189)",A+,[http://www.sales.com/],matheusfreitas,Lorena Novaes,F,1983-01-14,9

In [51]:
# removendo a coluna criada
del df2['ID']
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
497,Projetista mecânico,Gonçalves,28951673464,Recanto de Farias\nConjunto Providencia\n06151...,"(63.7621115, -126.436840)",AB-,"[https://www.correia.com/, https://duarte.net/...",ana-sophiapires,Cauã Duarte,M,1946-08-11
486,Juiz de direito,Aragão Pires - EI,78406915366,"Estação de Sales, 499\nPetropolis\n95139337 Mo...","(15.7313935, -163.029281)",A-,"[https://da.com/, https://www.da.br/, https://...",ian46,Isabel da Paz,F,1940-09-27
232,Físico nuclear,Oliveira Pires Ltda.,21947065343,"Morro Cardoso, 32\nNova Pampulha\n89162663 da ...","(40.5824895, 143.345633)",A+,[http://da.br/],nogueiracaio,João Felipe Lima,M,2017-12-04
779,Peixeiro,Campos,52670398103,"Campo de Cardoso, 384\nCônego Pinheiro 2ª Seçã...","(62.5514235, -21.288615)",A-,"[https://da.br/, http://www.cardoso.org/]",gomesana,Maria Julia Nascimento,F,2003-06-08
130,Xilógrafo,Cardoso,8314925624,"Morro Maria Cecília Duarte, 2\nNova America\n3...","(76.412237, -111.375502)",A+,"[https://azevedo.br/, http://barbosa.org/]",qsilveira,Raul Barros,M,1954-08-31
634,Maquinista,Jesus,51306892406,"Morro Castro, 4\nDona Clara\n66102-710 Almeida...","(48.5553835, 56.948884)",AB-,"[https://www.azevedo.com/, http://www.ramos.br/]",anovaes,Clarice da Cruz,F,1937-01-07
1,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
279,Representante comercial,das Neves Cardoso Ltda.,2963748574,"Jardim de Peixoto, 518\nJardim América\n448987...","(37.6627095, 48.980621)",O-,"[https://www.rodrigues.org/, https://www.santo...",henrique61,Evelyn Caldeira,F,1908-01-05
853,Pneumologista,Cardoso,89342510779,"Campo Moreira, 82\nSolimoes\n82845794 Alves / ES","(52.9687935, -127.960476)",B+,[https://www.mendes.com/],pcosta,Yasmin Correia,F,1986-08-28
959,Caixa,Viana,7215849694,"Sítio de Campos, 65\nMaria Helena\n95052-454 P...","(78.447302, 33.236189)",A+,[http://www.sales.com/],matheusfreitas,Lorena Novaes,F,1983-01-14

In [52]:
# para selecionar o local da coluna basta usar o metodo insert
df2.insert(0, 'ID', range(df2.shape[0]))
df2

,ID,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
497,0,Projetista mecânico,Gonçalves,28951673464,Recanto de Farias\nConjunto Providencia\n06151...,"(63.7621115, -126.436840)",AB-,"[https://www.correia.com/, https://duarte.net/...",ana-sophiapires,Cauã Duarte,M,1946-08-11
486,1,Juiz de direito,Aragão Pires - EI,78406915366,"Estação de Sales, 499\nPetropolis\n95139337 Mo...","(15.7313935, -163.029281)",A-,"[https://da.com/, https://www.da.br/, https://...",ian46,Isabel da Paz,F,1940-09-27
232,2,Físico nuclear,Oliveira Pires Ltda.,21947065343,"Morro Cardoso, 32\nNova Pampulha\n89162663 da ...","(40.5824895, 143.345633)",A+,[http://da.br/],nogueiracaio,João Felipe Lima,M,2017-12-04
779,3,Peixeiro,Campos,52670398103,"Campo de Cardoso, 384\nCônego Pinheiro 2ª Seçã...","(62.5514235, -21.288615)",A-,"[https://da.br/, http://www.cardoso.org/]",gomesana,Maria Julia Nascimento,F,2003-06-08
130,4,Xilógrafo,Cardoso,8314925624,"Morro Maria Cecília Duarte, 2\nNova America\n3...","(76.412237, -111.375502)",A+,"[https://azevedo.br/, http://barbosa.org/]",qsilveira,Raul Barros,M,1954-08-31
634,5,Maquinista,Jesus,51306892406,"Morro Castro, 4\nDona Clara\n66102-710 Almeida...","(48.5553835, 56.948884)",AB-,"[https://www.azevedo.com/, http://www.ramos.br/]",anovaes,Clarice da Cruz,F,1937-01-07
1,6,Neurologista,Rocha da Mata - ME,36415280708,"Setor de Nogueira, 44\nVila Paris\n73788783 Si...","(69.469232, -122.071707)",AB-,"[http://costela.br/, http://cardoso.com/]",mendesheloisa,Eduarda Moura,F,1933-05-31
279,7,Representante comercial,das Neves Cardoso Ltda.,2963748574,"Jardim de Peixoto, 518\nJardim América\n448987...","(37.6627095, 48.980621)",O-,"[https://www.rodrigues.org/, https://www.santo...",henrique61,Evelyn Caldeira,F,1908-01-05
853,8,Pneumologista,Cardoso,89342510779,"Campo Moreira, 82\nSolimoes\n82845794 Alves / ES","(52.9687935, -127.960476)",B+,[https://www.mendes.com/],pcosta,Yasmin Correia,F,1986-08-28
959,9,Caixa,Viana,7215849694,"Sítio de Campos, 65\nMaria Helena\n95052-454 P...","(78.447302, 33.236189)",A+,[http://www.sales.com/],matheusfreitas,Lorena Novaes,F,1983-01-14