In [194]:
import pandas as pd
import numpy as np
from faker import Faker

In [195]:
faker = Faker('pt_BR')

In [196]:
faker.profile()

{'job': 'Prefeito',
 'company': 'Rocha',
 'ssn': '89540623774',
 'residence': 'Avenida de Carvalho, 37\nBarroca\n67011-869 Peixoto de Rodrigues / SE',
 'current_location': (Decimal('-68.6165715'), Decimal('-113.345287')),
 'blood_group': 'A-',
 'website': ['http://www.teixeira.net/'],
 'username': 'kevinribeiro',
 'name': 'Dr. Eduardo Pinto',
 'sex': 'M',
 'address': 'Colônia de Costela\nCampo Alegre\n31667-247 Porto do Campo / RS',
 'mail': 'martinscarolina@gmail.com',
 'birthdate': datetime.date(1964, 12, 15)}

### Esta lib gera dados ficticios

In [197]:
def make_fake_data(n_rows: int) -> pd.DataFrame:
    faker = Faker('pt_BR')

    aux = faker.profile()
    aux.pop('address')
    aux.pop('mail')
    # aux.pop('residence')
    # até aqui está gerando 1 dict, dropando alguns campos para capturar a estrutura dos dicts no proximo passo

    cols = list(aux.keys())

    array = []
    for _ in range(n_rows):
        aux = faker.profile()
        aux.pop('address')
        aux.pop('mail')
        # aux.pop('residence')

        array.append(list(aux.values()))

    res = pd.DataFrame(columns=cols, data=array)
    return res

In [198]:
df = make_fake_data(1000)

In [199]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Gari,da Cunha Lopes S/A,71934625809,"Passarela Luiz Henrique Lopes, 605\nJoão Alfre...","(-71.7083325, -19.685561)",A+,[http://www.mendes.br/],maria-julia16,Arthur Oliveira,M,2017-04-09
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13

In [200]:
df.shape

(1000, 11)

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   object
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  birthdate         1000 non-null   object
dtypes: object(11)
memory usage: 86.1+ KB

In [202]:
# transformar uma coluna object para inteiro

df.ssn = df.ssn.astype(np.int64)

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               1000 non-null   object
 1   company           1000 non-null   object
 2   ssn               1000 non-null   int64
 3   residence         1000 non-null   object
 4   current_location  1000 non-null   object
 5   blood_group       1000 non-null   object
 6   website           1000 non-null   object
 7   username          1000 non-null   object
 8   name              1000 non-null   object
 9   sex               1000 non-null   object
 10  birthdate         1000 non-null   object
dtypes: int64(1), object(10)
memory usage: 86.1+ KB

In [204]:
df.describe()

                ssn
count  1.000000e+03
mean   4.939169e+10
std    2.869944e+10
min    1.239457e+09
25%    2.468577e+10
50%    4.816380e+10
75%    7.520526e+10
max    9.872514e+10

### Usando metodo copy em um dataframe

In [205]:
# se não usar o copy pode ser q ao alterar o df a alteração afete o df2 tbm
df2 = df.copy()
df2.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Gari,da Cunha Lopes S/A,71934625809,"Passarela Luiz Henrique Lopes, 605\nJoão Alfre...","(-71.7083325, -19.685561)",A+,[http://www.mendes.br/],maria-julia16,Arthur Oliveira,M,2017-04-09
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13

In [206]:
df2.drop(0, inplace=True)

In [207]:
df.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Gari,da Cunha Lopes S/A,71934625809,"Passarela Luiz Henrique Lopes, 605\nJoão Alfre...","(-71.7083325, -19.685561)",A+,[http://www.mendes.br/],maria-julia16,Arthur Oliveira,M,2017-04-09
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13

In [208]:
df2.head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13
5,Topógrafo,Ferreira da Luz - ME,68317204553,"Via de da Paz, 78\nCapitão Eduardo\n32446549 S...","(67.2638555, -94.872680)",A+,[https://www.ribeiro.br/],yasminsouza,Murilo Caldeira,M,1947-06-02

### Filtros

In [209]:
# o loc pode ser usado para filtrar uma linha de acordo com o index
df.loc[4]

job                                                Produtor editorial
company                                                      Oliveira
ssn                                                       30471628913
residence           Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...
current_location                              (86.325111, 133.158348)
blood_group                                                        A-
website             [http://cardoso.br/, http://www.costa.br/, htt...
username                                                    lnogueira
name                                                 Larissa Silveira
sex                                                                 F
birthdate                                                  2020-02-13
Name: 4, dtype: object

In [210]:
# o iloc  pode ser usado para filtrar uma linha de acordo com a ordem na memoria
df.iloc[4]

job                                                Produtor editorial
company                                                      Oliveira
ssn                                                       30471628913
residence           Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...
current_location                              (86.325111, 133.158348)
blood_group                                                        A-
website             [http://cardoso.br/, http://www.costa.br/, htt...
username                                                    lnogueira
name                                                 Larissa Silveira
sex                                                                 F
birthdate                                                  2020-02-13
Name: 4, dtype: object

In [211]:
# filtrando varias colunas
df[['job', 'sex', 'ssn']]

                                    job sex          ssn
0                                  Gari   M  71934625809
1            Agente de defesa sanitária   F  39561207877
2                              Peixeiro   F  74081652317
3    Tecnólogo em negócios imobiliários   F  32598046170
4                    Produtor editorial   F  30471628913
..                                  ...  ..          ...
995     Tecnólogo em rochas ornamentais   M  18230749523
996                             Químico   M  85360247126
997                          Jangadeiro   F  40671523880
998                              Maitre   F  42619538700
999                   Lutador de karatê   M  35089276102

[1000 rows x 3 columns]

In [212]:
# slice dataset
# usando apenas "df.sex == 'F'" retorna um array de true e false e usando ele dentro dos [] ele serve como filtro
df[df.sex == 'F']

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13
6,Dialoguista,Viana S.A.,96013845700,Pátio de Martins\nBom Jesus\n11186405 Barros / SC,"(-72.0245475, -126.678470)",A+,"[http://barbosa.com/, http://www.oliveira.net/...",marcos-viniciusda-mota,Isabella Correia,F,1976-07-04
...,...,...,...,...,...,...,...,...,...,...,...
986,Assistente de câmera,Caldeira,41076283969,"Aeroporto Nicole Almeida, 80\nCentro\n09518242...","(-42.766722, 67.114338)",B-,[http://www.lopes.com/],isaac05,Julia Cunha,F,1905-06-01
989,Tecnólogo em negócios imobiliários,Nogueira Nogueira S/A,53918704610,"Feira Amanda Farias, 1\nMadre Gertrudes\n52666...","(9.6089545, -87.384852)",A-,"[https://cavalcanti.net/, https://www.da.br/]",maria-eduarda15,Maria Julia Pires,F,1925-08-10
990,Ecólogo,Martins,81607549301,"Alameda Teixeira, 93\nLagoinha Leblon\n64885-3...","(-11.605465, 16.164270)",O-,[https://www.silva.com/],ana-luiza66,Valentina Rezende,F,1977-09-15
997,Jangadeiro,das Neves,40671523880,"Área Pinto, 94\nOlaria\n68915-236 Rocha de Ara...","(52.5148665, -100.321234)",AB+,"[http://www.da.com/, http://www.goncalves.br/,...",alvescaue,Larissa da Cunha,F,2006-07-26
998,Maitre,das Neves,42619538700,"Favela Ana Beatriz Rodrigues, 7\nSão Paulo\n18...","(61.6094915, 138.174555)",A-,"[http://www.oliveira.br/, https://aragao.net/,...",emanuelteixeira,Clarice Ferreira,F,1936-05-04

In [213]:
# slicing utilizando 2 ou mais condições
df[(df.sex == 'F') & (df.company == 'Dias')]

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
180,Headhunter,Dias,80965417301,Vila Teixeira\nVila Cemig\n76939745 Silva / SE,"(-84.657268, 97.064326)",O+,"[http://cunha.br/, http://silva.org/]",oliveiraesther,Helena Novaes,F,2007-05-16

In [214]:
# outra forma de fazer slicing
df.query("sex == 'F'")

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13
6,Dialoguista,Viana S.A.,96013845700,Pátio de Martins\nBom Jesus\n11186405 Barros / SC,"(-72.0245475, -126.678470)",A+,"[http://barbosa.com/, http://www.oliveira.net/...",marcos-viniciusda-mota,Isabella Correia,F,1976-07-04
...,...,...,...,...,...,...,...,...,...,...,...
986,Assistente de câmera,Caldeira,41076283969,"Aeroporto Nicole Almeida, 80\nCentro\n09518242...","(-42.766722, 67.114338)",B-,[http://www.lopes.com/],isaac05,Julia Cunha,F,1905-06-01
989,Tecnólogo em negócios imobiliários,Nogueira Nogueira S/A,53918704610,"Feira Amanda Farias, 1\nMadre Gertrudes\n52666...","(9.6089545, -87.384852)",A-,"[https://cavalcanti.net/, https://www.da.br/]",maria-eduarda15,Maria Julia Pires,F,1925-08-10
990,Ecólogo,Martins,81607549301,"Alameda Teixeira, 93\nLagoinha Leblon\n64885-3...","(-11.605465, 16.164270)",O-,[https://www.silva.com/],ana-luiza66,Valentina Rezende,F,1977-09-15
997,Jangadeiro,das Neves,40671523880,"Área Pinto, 94\nOlaria\n68915-236 Rocha de Ara...","(52.5148665, -100.321234)",AB+,"[http://www.da.com/, http://www.goncalves.br/,...",alvescaue,Larissa da Cunha,F,2006-07-26
998,Maitre,das Neves,42619538700,"Favela Ana Beatriz Rodrigues, 7\nSão Paulo\n18...","(61.6094915, 138.174555)",A-,"[http://www.oliveira.br/, https://aragao.net/,...",emanuelteixeira,Clarice Ferreira,F,1936-05-04

In [215]:
# retorna linhas aleatorias do seu dataset para realizar amostragem
df.sample(9)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
422,Ajudante de produção,Lopes,38412570626,Largo de Rezende\nCruzeiro\n22743569 da Mata d...,"(75.830742, -128.744189)",AB-,"[https://ferreira.com/, http://pinto.com/]",luiz-fernandomartins,João Lucas Campos,M,1943-01-05
356,Windsurfer,Sales Carvalho e Filhos,40693127813,"Travessa Rodrigues, 176\nNossa Senhora De Fáti...","(43.2068385, 53.983495)",O+,"[https://www.da.br/, https://www.moreira.com/,...",varaujo,Heloísa Gomes,F,1941-03-07
519,Rebarbador de metal,Sales,81450273653,"Trevo Marcela Nascimento, 639\nVila Betânia\n7...","(-79.3195375, -66.021489)",AB+,[https://costela.br/],alexia97,Leandro Pinto,M,1990-09-10
936,Quiropraxista,Lima,69825741058,Pátio de Cardoso\nSão Pedro\n81236132 da Mata ...,"(-54.524083, 81.646824)",AB-,[http://pinto.com/],otaviosilveira,Srta. Ana Clara Aragão,F,1961-11-01
77,Clap loader,Fernandes Ltda.,82310549797,Recanto de Duarte\nCandelaria\n26667665 Cardos...,"(-43.196582, 10.948989)",B-,[https://mendes.net/],samuel23,Dra. Olivia Rocha,F,1911-07-13
198,Instalador de painéis,Moraes,76152809312,"Rua Yago da Rocha, 23\nDelta\n24738483 Porto / AP","(-50.3713875, 155.388276)",O+,"[http://www.teixeira.br/, https://www.jesus.co...",luiz-otavioda-cruz,Calebe Peixoto,M,1959-01-23
601,Prefeito,Moraes Campos Ltda.,85294073692,"Recanto Rafaela Teixeira, 99\nMariquinhas\n880...","(-86.0947805, 177.218964)",B+,"[https://ferreira.br/, https://da.com/, http:/...",pintojoao-miguel,Agatha da Cunha,F,2000-07-26
853,Dublador,Aragão Nogueira - EI,94530876292,Aeroporto Eloah Souza\nCenaculo\n81265783 da C...,"(51.086748, 34.982793)",AB+,"[https://www.monteiro.br/, http://www.barbosa....",heloisa28,João da Cruz,M,1932-05-19
118,Digitador,Caldeira,60841275920,Rua de Castro\nVila Suzana Segunda Seção\n6056...,"(38.1600265, 99.345549)",B+,"[https://santos.org/, http://almeida.org/, htt...",renan86,Sophia Farias,F,1962-11-18

In [216]:
# trazer os dados se o campo começa com <cadeiacaracter>.
df[df.name.str.startswith("João")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
16,Vendedor,Carvalho Peixoto S/A,27543681080,"Sítio Stella Barbosa, 8\nVila Nova Cachoeirinh...","(-12.864476, -96.075438)",O+,[http://gomes.org/],cavalcantifernando,João Gabriel Vieira,M,1936-05-27
99,General,Monteiro,10697538400,"Colônia de Silva, 49\nConjunto Santa Maria\n28...","(-64.8127305, 111.520633)",AB+,[http://freitas.br/],leonardo89,João Pedro Lima,M,1969-08-11
114,Urologista,da Rosa Ltda.,90532786130,"Favela Santos, 48\nCenaculo\n68243-288 Lima / RR","(28.1124105, -129.423964)",O+,[http://da.net/],jmoraes,João Miguel Cardoso,M,1963-07-02
148,Professor,Duarte,62073581986,"Distrito Duarte, 663\nMonsenhor Messias\n96340...","(-42.539751, 38.505322)",B+,"[https://mendes.net/, http://www.dias.org/]",jda-rocha,João Guilherme Moura,M,1911-03-31
168,Cientista,da Paz,84953712609,"Pátio Maitê das Neves, 41\nVila Jardim Leblon\...","(-72.3121605, -131.478587)",AB-,[https://da.br/],joao-gabriel21,João Gabriel Barros,M,1929-04-23

In [217]:
# Termina com
df[df.name.str.endswith("Alves")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
128,Massagista,Silva da Conceição e Filhos,21576049361,"Quadra de da Costa, 72\nSolar Do Barreiro\n357...","(3.198423, 103.804140)",O-,"[http://www.barros.br/, http://www.costela.br/...",wda-luz,Rodrigo Alves,M,1942-01-22
129,Adestrador de animais,Aragão,67354189057,"Parque Rocha, 72\nCruzeiro\n67868-026 Costela ...","(-17.840241, -99.553241)",O-,"[http://www.castro.net/, https://www.lopes.com...",kfreitas,Carolina Alves,F,1934-06-15
135,Representante comercial,Costa Freitas - EI,20498316769,"Quadra Bruna Nunes, 67\nMarieta 1ª Seção\n2221...","(63.9080485, -164.512084)",A-,"[https://peixoto.net/, https://www.das.com/]",fcavalcanti,Dra. Alice Alves,F,1970-06-05
186,Médico legista,Gonçalves Pereira - EI,43978601222,Aeroporto de Fernandes\nBaleia\n55647026 Nasci...,"(28.658371, -22.581278)",AB-,"[https://www.da.com/, http://www.moraes.org/]",maria-luiza65,Lucas Alves,M,2000-06-05
203,Profissional de logística,Correia Cavalcanti S.A.,21843569051,Campo da Cruz\nVila Madre Gertrudes 3ª Seção\n...,"(-69.3962915, 132.015247)",B+,"[http://almeida.com/, http://www.moreira.org/,...",emanuelrezende,Felipe Alves,M,1924-03-27

In [218]:
# Contem
df[df.name.str.contains("Alves")].head()

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
128,Massagista,Silva da Conceição e Filhos,21576049361,"Quadra de da Costa, 72\nSolar Do Barreiro\n357...","(3.198423, 103.804140)",O-,"[http://www.barros.br/, http://www.costela.br/...",wda-luz,Rodrigo Alves,M,1942-01-22
129,Adestrador de animais,Aragão,67354189057,"Parque Rocha, 72\nCruzeiro\n67868-026 Costela ...","(-17.840241, -99.553241)",O-,"[http://www.castro.net/, https://www.lopes.com...",kfreitas,Carolina Alves,F,1934-06-15
135,Representante comercial,Costa Freitas - EI,20498316769,"Quadra Bruna Nunes, 67\nMarieta 1ª Seção\n2221...","(63.9080485, -164.512084)",A-,"[https://peixoto.net/, https://www.das.com/]",fcavalcanti,Dra. Alice Alves,F,1970-06-05
186,Médico legista,Gonçalves Pereira - EI,43978601222,Aeroporto de Fernandes\nBaleia\n55647026 Nasci...,"(28.658371, -22.581278)",AB-,"[https://www.da.com/, http://www.moraes.org/]",maria-luiza65,Lucas Alves,M,2000-06-05
203,Profissional de logística,Correia Cavalcanti S.A.,21843569051,Campo da Cruz\nVila Madre Gertrudes 3ª Seção\n...,"(-69.3962915, 132.015247)",B+,"[http://almeida.com/, http://www.moreira.org/,...",emanuelrezende,Felipe Alves,M,1924-03-27

In [219]:
# pelo tamanho do dado
df[df.company.str.len()>27]

Empty DataFrame
Columns: [job, company, ssn, residence, current_location, blood_group, website, username, name, sex, birthdate]
Index: []

In [220]:
# Passar uma lista na condição (IsIn)
grupos_sang = ['O+', 'A-']
df[df.blood_group.isin(grupos_sang)].head(3)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13
11,Pedagogo,Gomes e Filhos,78310659466,"Largo de Rodrigues, 15\nFuncionários\n49217-11...","(84.5482525, 37.475805)",A-,"[http://silva.br/, https://da.org/, http://vie...",lcampos,Dr. Luiz Fernando Cardoso,M,1942-01-30

In [221]:
# trazer os dados qndo uma variavel é nula
df[pd.isnull(df.ssn)]

Empty DataFrame
Columns: [job, company, ssn, residence, current_location, blood_group, website, username, name, sex, birthdate]
Index: []

In [222]:
# negação de condição
df[~pd.isnull(df.ssn)]

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
0,Gari,da Cunha Lopes S/A,71934625809,"Passarela Luiz Henrique Lopes, 605\nJoão Alfre...","(-71.7083325, -19.685561)",A+,[http://www.mendes.br/],maria-julia16,Arthur Oliveira,M,2017-04-09
1,Agente de defesa sanitária,Costa - EI,39561207877,"Passarela Kevin Porto, 48\nPrado\n03965859 da ...","(10.0459845, 8.899647)",AB-,"[http://da.com/, https://rodrigues.net/, https...",emanuelcardoso,Eloah da Rocha,F,1984-11-15
2,Peixeiro,Sales e Filhos,74081652317,"Distrito de Rezende, 82\nVila Da Amizade\n2969...","(37.0933195, 147.091107)",AB+,"[http://www.das.com/, http://www.peixoto.org/,...",melissa92,Clarice Pires,F,1910-04-07
3,Tecnólogo em negócios imobiliários,Correia,32598046170,Viela Sophie Moreira\nVila Nova Dos Milionario...,"(26.150407, -136.473033)",O+,[http://www.araujo.com/],gustavo-henrique05,Srta. Maria Vitória Ferreira,F,1928-07-04
4,Produtor editorial,Oliveira,30471628913,"Sítio da Mata, 89\nVila Mangueiras\n09083-075 ...","(86.325111, 133.158348)",A-,"[http://cardoso.br/, http://www.costa.br/, htt...",lnogueira,Larissa Silveira,F,2020-02-13
...,...,...,...,...,...,...,...,...,...,...,...
995,Tecnólogo em rochas ornamentais,Fogaça,18230749523,"Chácara Isabel da Paz, 88\nVila Nova Cachoeiri...","(71.887598, 29.613037)",B+,[http://www.mendes.br/],alexiacosta,Dr. Vicente da Rosa,M,1932-01-07
996,Químico,Pires,85360247126,"Alameda Peixoto, 53\nAraguaia\n22480111 Azeved...","(-36.765167, 110.164831)",O+,[https://www.teixeira.net/],moreiraenrico,João Pedro Santos,M,1976-09-22
997,Jangadeiro,das Neves,40671523880,"Área Pinto, 94\nOlaria\n68915-236 Rocha de Ara...","(52.5148665, -100.321234)",AB+,"[http://www.da.com/, http://www.goncalves.br/,...",alvescaue,Larissa da Cunha,F,2006-07-26
998,Maitre,das Neves,42619538700,"Favela Ana Beatriz Rodrigues, 7\nSão Paulo\n18...","(61.6094915, 138.174555)",A-,"[http://www.oliveira.br/, https://aragao.net/,...",emanuelteixeira,Clarice Ferreira,F,1936-05-04
999,Lutador de karatê,da Mota Pereira e Filhos,35089276102,"Rodovia Cavalcanti, 835\nJaqueline\n25326-371 ...","(-78.202119, 82.542684)",A-,"[https://fernandes.com/, http://da.br/, https:...",nogueiraana-clara,Sr. Danilo Ramos,M,1981-12-19

### Inserindo colunas no dataframe

In [223]:
# gerando um dataframe por amostragem
df2 = df.copy()
df2 = df2.sample(10)
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
467,Trompetista,Silveira S/A,12786304903,"Morro Jesus, 18\nNossa Senhora Do Rosário\n631...","(-26.4747815, -79.757851)",B+,[https://www.peixoto.br/],eloah27,Dr. Vitor Gabriel Costela,M,1959-08-27
522,Seguidor de compras,Fogaça S/A,39170648557,"Viela João Lucas Lima, 9\nPadre Eustáquio\n343...","(15.0367785, 0.140978)",AB+,[http://www.carvalho.net/],joaquimfogaca,Pietro Nunes,M,2009-05-04
873,Lavador,Campos Nunes S/A,57182940620,"Rodovia da Conceição, 82\nVila Real 2ª Seção\n...","(27.902729, -173.986728)",A-,[https://rodrigues.br/],xda-rocha,Isis Lima,F,1942-02-03
66,Oculista,Pereira e Filhos,3764982187,"Vereda Moura, 47\nMarçola\n40671-689 da Mata / RO","(-55.9290795, 103.893325)",AB-,[http://ribeiro.br/],nicolasdas-neves,Bianca Fernandes,F,1922-12-03
163,Massoterapeuta,Freitas,25340689115,"Viela Ferreira, 910\nBetânia\n00687606 da Cruz...","(19.5908915, -91.872860)",A-,[https://www.silveira.br/],wribeiro,Alana da Costa,F,1951-03-17
153,Artista plástico,Campos Cardoso S.A.,75624908130,"Setor Lopes, 2\nVila Ipiranga\n86129410 Rodrig...","(58.880171, 7.937855)",AB+,"[http://pinto.com/, https://nascimento.org/, h...",steixeira,Dr. Carlos Eduardo Jesus,M,1928-12-08
700,Engenheiro de controle e automação,Rodrigues - ME,8674321526,Sítio de Novaes\nBela Vitoria\n15327-465 Melo ...,"(47.675336, 64.485598)",B+,"[https://moraes.br/, http://barbosa.com/, http...",santospedro-henrique,Sr. Vitor Pinto,M,1924-08-10
415,Revendedor,Oliveira,61924073552,"Fazenda Alves, 12\nVila Madre Gertrudes 1ª Seç...","(60.811091, 63.872449)",AB-,[http://barros.com/],nascimentovinicius,Srta. Larissa da Costa,F,1905-11-03
918,Biomédico,da Rocha da Costa Ltda.,45826910720,"Vereda Juan Castro, 351\nAntonio Ribeiro De Ab...","(-33.181667, 67.175345)",AB-,"[https://www.da.br/, http://castro.com/]",benicio42,Pietra Ribeiro,F,1979-12-13
283,Economista doméstico,Oliveira Fernandes - ME,76102348931,"Alameda Monteiro, 777\nSanta Inês\n68971940 Ca...","(58.7767335, 66.022628)",O+,"[http://costa.br/, http://goncalves.com/, http...",mcorreia,Sr. Rafael Mendes,M,1984-04-26

> `Inserindo uma chave primaria para a amostragem`

In [224]:
# Este metodo sempre insere  à direita do df
df2['ID'] = range(df2.shape[0])
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate,ID
467,Trompetista,Silveira S/A,12786304903,"Morro Jesus, 18\nNossa Senhora Do Rosário\n631...","(-26.4747815, -79.757851)",B+,[https://www.peixoto.br/],eloah27,Dr. Vitor Gabriel Costela,M,1959-08-27,0
522,Seguidor de compras,Fogaça S/A,39170648557,"Viela João Lucas Lima, 9\nPadre Eustáquio\n343...","(15.0367785, 0.140978)",AB+,[http://www.carvalho.net/],joaquimfogaca,Pietro Nunes,M,2009-05-04,1
873,Lavador,Campos Nunes S/A,57182940620,"Rodovia da Conceição, 82\nVila Real 2ª Seção\n...","(27.902729, -173.986728)",A-,[https://rodrigues.br/],xda-rocha,Isis Lima,F,1942-02-03,2
66,Oculista,Pereira e Filhos,3764982187,"Vereda Moura, 47\nMarçola\n40671-689 da Mata / RO","(-55.9290795, 103.893325)",AB-,[http://ribeiro.br/],nicolasdas-neves,Bianca Fernandes,F,1922-12-03,3
163,Massoterapeuta,Freitas,25340689115,"Viela Ferreira, 910\nBetânia\n00687606 da Cruz...","(19.5908915, -91.872860)",A-,[https://www.silveira.br/],wribeiro,Alana da Costa,F,1951-03-17,4
153,Artista plástico,Campos Cardoso S.A.,75624908130,"Setor Lopes, 2\nVila Ipiranga\n86129410 Rodrig...","(58.880171, 7.937855)",AB+,"[http://pinto.com/, https://nascimento.org/, h...",steixeira,Dr. Carlos Eduardo Jesus,M,1928-12-08,5
700,Engenheiro de controle e automação,Rodrigues - ME,8674321526,Sítio de Novaes\nBela Vitoria\n15327-465 Melo ...,"(47.675336, 64.485598)",B+,"[https://moraes.br/, http://barbosa.com/, http...",santospedro-henrique,Sr. Vitor Pinto,M,1924-08-10,6
415,Revendedor,Oliveira,61924073552,"Fazenda Alves, 12\nVila Madre Gertrudes 1ª Seç...","(60.811091, 63.872449)",AB-,[http://barros.com/],nascimentovinicius,Srta. Larissa da Costa,F,1905-11-03,7
918,Biomédico,da Rocha da Costa Ltda.,45826910720,"Vereda Juan Castro, 351\nAntonio Ribeiro De Ab...","(-33.181667, 67.175345)",AB-,"[https://www.da.br/, http://castro.com/]",benicio42,Pietra Ribeiro,F,1979-12-13,8
283,Economista doméstico,Oliveira Fernandes - ME,76102348931,"Alameda Monteiro, 777\nSanta Inês\n68971940 Ca...","(58.7767335, 66.022628)",O+,"[http://costa.br/, http://goncalves.com/, http...",mcorreia,Sr. Rafael Mendes,M,1984-04-26,9

In [225]:
# removendo a coluna criada
del df2['ID']
df2

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
467,Trompetista,Silveira S/A,12786304903,"Morro Jesus, 18\nNossa Senhora Do Rosário\n631...","(-26.4747815, -79.757851)",B+,[https://www.peixoto.br/],eloah27,Dr. Vitor Gabriel Costela,M,1959-08-27
522,Seguidor de compras,Fogaça S/A,39170648557,"Viela João Lucas Lima, 9\nPadre Eustáquio\n343...","(15.0367785, 0.140978)",AB+,[http://www.carvalho.net/],joaquimfogaca,Pietro Nunes,M,2009-05-04
873,Lavador,Campos Nunes S/A,57182940620,"Rodovia da Conceição, 82\nVila Real 2ª Seção\n...","(27.902729, -173.986728)",A-,[https://rodrigues.br/],xda-rocha,Isis Lima,F,1942-02-03
66,Oculista,Pereira e Filhos,3764982187,"Vereda Moura, 47\nMarçola\n40671-689 da Mata / RO","(-55.9290795, 103.893325)",AB-,[http://ribeiro.br/],nicolasdas-neves,Bianca Fernandes,F,1922-12-03
163,Massoterapeuta,Freitas,25340689115,"Viela Ferreira, 910\nBetânia\n00687606 da Cruz...","(19.5908915, -91.872860)",A-,[https://www.silveira.br/],wribeiro,Alana da Costa,F,1951-03-17
153,Artista plástico,Campos Cardoso S.A.,75624908130,"Setor Lopes, 2\nVila Ipiranga\n86129410 Rodrig...","(58.880171, 7.937855)",AB+,"[http://pinto.com/, https://nascimento.org/, h...",steixeira,Dr. Carlos Eduardo Jesus,M,1928-12-08
700,Engenheiro de controle e automação,Rodrigues - ME,8674321526,Sítio de Novaes\nBela Vitoria\n15327-465 Melo ...,"(47.675336, 64.485598)",B+,"[https://moraes.br/, http://barbosa.com/, http...",santospedro-henrique,Sr. Vitor Pinto,M,1924-08-10
415,Revendedor,Oliveira,61924073552,"Fazenda Alves, 12\nVila Madre Gertrudes 1ª Seç...","(60.811091, 63.872449)",AB-,[http://barros.com/],nascimentovinicius,Srta. Larissa da Costa,F,1905-11-03
918,Biomédico,da Rocha da Costa Ltda.,45826910720,"Vereda Juan Castro, 351\nAntonio Ribeiro De Ab...","(-33.181667, 67.175345)",AB-,"[https://www.da.br/, http://castro.com/]",benicio42,Pietra Ribeiro,F,1979-12-13
283,Economista doméstico,Oliveira Fernandes - ME,76102348931,"Alameda Monteiro, 777\nSanta Inês\n68971940 Ca...","(58.7767335, 66.022628)",O+,"[http://costa.br/, http://goncalves.com/, http...",mcorreia,Sr. Rafael Mendes,M,1984-04-26

In [226]:
# para selecionar o local da coluna basta usar o metodo insert
df2.insert(0, 'ID', range(df2.shape[0]))
df2

,ID,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
467,0,Trompetista,Silveira S/A,12786304903,"Morro Jesus, 18\nNossa Senhora Do Rosário\n631...","(-26.4747815, -79.757851)",B+,[https://www.peixoto.br/],eloah27,Dr. Vitor Gabriel Costela,M,1959-08-27
522,1,Seguidor de compras,Fogaça S/A,39170648557,"Viela João Lucas Lima, 9\nPadre Eustáquio\n343...","(15.0367785, 0.140978)",AB+,[http://www.carvalho.net/],joaquimfogaca,Pietro Nunes,M,2009-05-04
873,2,Lavador,Campos Nunes S/A,57182940620,"Rodovia da Conceição, 82\nVila Real 2ª Seção\n...","(27.902729, -173.986728)",A-,[https://rodrigues.br/],xda-rocha,Isis Lima,F,1942-02-03
66,3,Oculista,Pereira e Filhos,3764982187,"Vereda Moura, 47\nMarçola\n40671-689 da Mata / RO","(-55.9290795, 103.893325)",AB-,[http://ribeiro.br/],nicolasdas-neves,Bianca Fernandes,F,1922-12-03
163,4,Massoterapeuta,Freitas,25340689115,"Viela Ferreira, 910\nBetânia\n00687606 da Cruz...","(19.5908915, -91.872860)",A-,[https://www.silveira.br/],wribeiro,Alana da Costa,F,1951-03-17
153,5,Artista plástico,Campos Cardoso S.A.,75624908130,"Setor Lopes, 2\nVila Ipiranga\n86129410 Rodrig...","(58.880171, 7.937855)",AB+,"[http://pinto.com/, https://nascimento.org/, h...",steixeira,Dr. Carlos Eduardo Jesus,M,1928-12-08
700,6,Engenheiro de controle e automação,Rodrigues - ME,8674321526,Sítio de Novaes\nBela Vitoria\n15327-465 Melo ...,"(47.675336, 64.485598)",B+,"[https://moraes.br/, http://barbosa.com/, http...",santospedro-henrique,Sr. Vitor Pinto,M,1924-08-10
415,7,Revendedor,Oliveira,61924073552,"Fazenda Alves, 12\nVila Madre Gertrudes 1ª Seç...","(60.811091, 63.872449)",AB-,[http://barros.com/],nascimentovinicius,Srta. Larissa da Costa,F,1905-11-03
918,8,Biomédico,da Rocha da Costa Ltda.,45826910720,"Vereda Juan Castro, 351\nAntonio Ribeiro De Ab...","(-33.181667, 67.175345)",AB-,"[https://www.da.br/, http://castro.com/]",benicio42,Pietra Ribeiro,F,1979-12-13
283,9,Economista doméstico,Oliveira Fernandes - ME,76102348931,"Alameda Monteiro, 777\nSanta Inês\n68971940 Ca...","(58.7767335, 66.022628)",O+,"[http://costa.br/, http://goncalves.com/, http...",mcorreia,Sr. Rafael Mendes,M,1984-04-26

### Modificação de dataframes

In [227]:
df3 = df.sample(10).copy()
df3

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,Fresador,da Cruz,96152308712,"Setor Letícia Moreira, 29\nVila Primeiro De Ma...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,Esther Santos,F,2012-06-01
711,Tecnólogo em silvicultura,Carvalho,28397014640,"Distrito Costa, 83\nCastelo\n85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,Lavínia Peixoto,F,1947-05-01
765,Lixeiro/Coletor de lixo,da Cunha - ME,36420985170,Pátio Ferreira\nNossa Senhora De Fátima\n61790...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,Sr. Rodrigo Ramos,M,1932-12-28
477,Capataz,Melo,58274309197,"Sítio de Alves, 28\nSerra Verde\n49833387 Lima...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,Antônio Freitas,M,1958-01-07
966,Otorrinolaringologista,Rezende Ribeiro Ltda.,53690472865,"Área Araújo, 7\nDas Industrias I\n85600-417 da...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,Maria Sophia Cunha,F,1912-12-09
595,Oftalmologista,Correia,67430258107,"Morro Francisco da Conceição, 26\nHavaí\n63723...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,Dra. Eloah Barros,F,1994-04-13
941,Guardador de veículos,Rocha,64203598729,"Avenida de Cavalcanti, 408\nVila De Sá\n30909-...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,Lívia Aragão,F,2004-11-21
926,Microfonista,da Paz - ME,89370621431,"Lago Amanda Oliveira, 7\nMarilandia\n25208-328...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,Maria Vitória da Luz,F,2020-04-29
710,Apontador de mão-de-obra,da Cruz,13948650233,"Sítio Bruno Barros, 307\nSanto Agostinho\n5548...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,Marcos Vinicius Lima,M,1938-05-17
253,Dançarino,Dias,36945107884,"Estrada Eloah Sales, 598\nVila Aeroporto Jarag...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,Yuri Nunes,M,1919-03-10

In [228]:
# todos os 'ssn' divido por 1000
df3['ssn'] = (df3.ssn/ 1000) / 1000
df3

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,Fresador,da Cruz,96152.308712,"Setor Letícia Moreira, 29\nVila Primeiro De Ma...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,Esther Santos,F,2012-06-01
711,Tecnólogo em silvicultura,Carvalho,28397.014640,"Distrito Costa, 83\nCastelo\n85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,Lavínia Peixoto,F,1947-05-01
765,Lixeiro/Coletor de lixo,da Cunha - ME,36420.985170,Pátio Ferreira\nNossa Senhora De Fátima\n61790...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,Sr. Rodrigo Ramos,M,1932-12-28
477,Capataz,Melo,58274.309197,"Sítio de Alves, 28\nSerra Verde\n49833387 Lima...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,Antônio Freitas,M,1958-01-07
966,Otorrinolaringologista,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7\nDas Industrias I\n85600-417 da...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,Maria Sophia Cunha,F,1912-12-09
595,Oftalmologista,Correia,67430.258107,"Morro Francisco da Conceição, 26\nHavaí\n63723...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,Dra. Eloah Barros,F,1994-04-13
941,Guardador de veículos,Rocha,64203.598729,"Avenida de Cavalcanti, 408\nVila De Sá\n30909-...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,Lívia Aragão,F,2004-11-21
926,Microfonista,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7\nMarilandia\n25208-328...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,Maria Vitória da Luz,F,2020-04-29
710,Apontador de mão-de-obra,da Cruz,13948.650233,"Sítio Bruno Barros, 307\nSanto Agostinho\n5548...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,Marcos Vinicius Lima,M,1938-05-17
253,Dançarino,Dias,36945.107884,"Estrada Eloah Sales, 598\nVila Aeroporto Jarag...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,Yuri Nunes,M,1919-03-10

In [229]:
# alterar as siglas de sexo para a descrição
df3['sex'] = df3.sex.replace({'F': 'Feminino', 'M': 'Masculino', 'I':'indefinido'})
df3

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,Fresador,da Cruz,96152.308712,"Setor Letícia Moreira, 29\nVila Primeiro De Ma...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,Esther Santos,Feminino,2012-06-01
711,Tecnólogo em silvicultura,Carvalho,28397.014640,"Distrito Costa, 83\nCastelo\n85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,Lavínia Peixoto,Feminino,1947-05-01
765,Lixeiro/Coletor de lixo,da Cunha - ME,36420.985170,Pátio Ferreira\nNossa Senhora De Fátima\n61790...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,Sr. Rodrigo Ramos,Masculino,1932-12-28
477,Capataz,Melo,58274.309197,"Sítio de Alves, 28\nSerra Verde\n49833387 Lima...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,Antônio Freitas,Masculino,1958-01-07
966,Otorrinolaringologista,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7\nDas Industrias I\n85600-417 da...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,Maria Sophia Cunha,Feminino,1912-12-09
595,Oftalmologista,Correia,67430.258107,"Morro Francisco da Conceição, 26\nHavaí\n63723...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,Dra. Eloah Barros,Feminino,1994-04-13
941,Guardador de veículos,Rocha,64203.598729,"Avenida de Cavalcanti, 408\nVila De Sá\n30909-...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,Lívia Aragão,Feminino,2004-11-21
926,Microfonista,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7\nMarilandia\n25208-328...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,Maria Vitória da Luz,Feminino,2020-04-29
710,Apontador de mão-de-obra,da Cruz,13948.650233,"Sítio Bruno Barros, 307\nSanto Agostinho\n5548...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,Marcos Vinicius Lima,Masculino,1938-05-17
253,Dançarino,Dias,36945.107884,"Estrada Eloah Sales, 598\nVila Aeroporto Jarag...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,Yuri Nunes,Masculino,1919-03-10

In [230]:
# função lambda para deixar todos os nomes maiusculos
df3['name'] = df3.name.apply(lambda x: x.upper())
df3

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,Fresador,da Cruz,96152.308712,"Setor Letícia Moreira, 29\nVila Primeiro De Ma...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,ESTHER SANTOS,Feminino,2012-06-01
711,Tecnólogo em silvicultura,Carvalho,28397.014640,"Distrito Costa, 83\nCastelo\n85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,LAVÍNIA PEIXOTO,Feminino,1947-05-01
765,Lixeiro/Coletor de lixo,da Cunha - ME,36420.985170,Pátio Ferreira\nNossa Senhora De Fátima\n61790...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,SR. RODRIGO RAMOS,Masculino,1932-12-28
477,Capataz,Melo,58274.309197,"Sítio de Alves, 28\nSerra Verde\n49833387 Lima...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,ANTÔNIO FREITAS,Masculino,1958-01-07
966,Otorrinolaringologista,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7\nDas Industrias I\n85600-417 da...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,MARIA SOPHIA CUNHA,Feminino,1912-12-09
595,Oftalmologista,Correia,67430.258107,"Morro Francisco da Conceição, 26\nHavaí\n63723...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,DRA. ELOAH BARROS,Feminino,1994-04-13
941,Guardador de veículos,Rocha,64203.598729,"Avenida de Cavalcanti, 408\nVila De Sá\n30909-...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,LÍVIA ARAGÃO,Feminino,2004-11-21
926,Microfonista,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7\nMarilandia\n25208-328...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,MARIA VITÓRIA DA LUZ,Feminino,2020-04-29
710,Apontador de mão-de-obra,da Cruz,13948.650233,"Sítio Bruno Barros, 307\nSanto Agostinho\n5548...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,MARCOS VINICIUS LIMA,Masculino,1938-05-17
253,Dançarino,Dias,36945.107884,"Estrada Eloah Sales, 598\nVila Aeroporto Jarag...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,YURI NUNES,Masculino,1919-03-10

In [231]:
# função lambda para tirar as quebras de lina em residence
df3['residence'] = df3.residence.apply(lambda x: x.replace('\n',' '))
df3

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,Fresador,da Cruz,96152.308712,"Setor Letícia Moreira, 29 Vila Primeiro De Mai...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,ESTHER SANTOS,Feminino,2012-06-01
711,Tecnólogo em silvicultura,Carvalho,28397.014640,"Distrito Costa, 83 Castelo 85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,LAVÍNIA PEIXOTO,Feminino,1947-05-01
765,Lixeiro/Coletor de lixo,da Cunha - ME,36420.985170,Pátio Ferreira Nossa Senhora De Fátima 61790-4...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,SR. RODRIGO RAMOS,Masculino,1932-12-28
477,Capataz,Melo,58274.309197,"Sítio de Alves, 28 Serra Verde 49833387 Lima d...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,ANTÔNIO FREITAS,Masculino,1958-01-07
966,Otorrinolaringologista,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7 Das Industrias I 85600-417 da C...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,MARIA SOPHIA CUNHA,Feminino,1912-12-09
595,Oftalmologista,Correia,67430.258107,"Morro Francisco da Conceição, 26 Havaí 6372383...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,DRA. ELOAH BARROS,Feminino,1994-04-13
941,Guardador de veículos,Rocha,64203.598729,"Avenida de Cavalcanti, 408 Vila De Sá 30909-17...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,LÍVIA ARAGÃO,Feminino,2004-11-21
926,Microfonista,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7 Marilandia 25208-328 d...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,MARIA VITÓRIA DA LUZ,Feminino,2020-04-29
710,Apontador de mão-de-obra,da Cruz,13948.650233,"Sítio Bruno Barros, 307 Santo Agostinho 554803...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,MARCOS VINICIUS LIMA,Masculino,1938-05-17
253,Dançarino,Dias,36945.107884,"Estrada Eloah Sales, 598 Vila Aeroporto Jaragu...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,YURI NUNES,Masculino,1919-03-10

### Deleções

In [232]:
# para deletar uma coluna podemos usar por exemplo o comando 'del'
del df3['job']
df3

,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,da Cruz,96152.308712,"Setor Letícia Moreira, 29 Vila Primeiro De Mai...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,ESTHER SANTOS,Feminino,2012-06-01
711,Carvalho,28397.014640,"Distrito Costa, 83 Castelo 85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,LAVÍNIA PEIXOTO,Feminino,1947-05-01
765,da Cunha - ME,36420.985170,Pátio Ferreira Nossa Senhora De Fátima 61790-4...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,SR. RODRIGO RAMOS,Masculino,1932-12-28
477,Melo,58274.309197,"Sítio de Alves, 28 Serra Verde 49833387 Lima d...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,ANTÔNIO FREITAS,Masculino,1958-01-07
966,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7 Das Industrias I 85600-417 da C...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,MARIA SOPHIA CUNHA,Feminino,1912-12-09
595,Correia,67430.258107,"Morro Francisco da Conceição, 26 Havaí 6372383...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,DRA. ELOAH BARROS,Feminino,1994-04-13
941,Rocha,64203.598729,"Avenida de Cavalcanti, 408 Vila De Sá 30909-17...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,LÍVIA ARAGÃO,Feminino,2004-11-21
926,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7 Marilandia 25208-328 d...","(29.926771, 6.163834)",A-,"[https://silveira.br/, https://peixoto.org/]",yagosantos,MARIA VITÓRIA DA LUZ,Feminino,2020-04-29
710,da Cruz,13948.650233,"Sítio Bruno Barros, 307 Santo Agostinho 554803...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,MARCOS VINICIUS LIMA,Masculino,1938-05-17
253,Dias,36945.107884,"Estrada Eloah Sales, 598 Vila Aeroporto Jaragu...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,YURI NUNES,Masculino,1919-03-10

In [234]:
# para varias colunas ou linhaspode ser utilizado o metodo drop
# para linhas basta usar o index para selecionar a linha a qual se quer a deleção
df3.drop(926)

,company,ssn,residence,current_location,blood_group,website,username,name,sex,birthdate
755,da Cruz,96152.308712,"Setor Letícia Moreira, 29 Vila Primeiro De Mai...","(25.1405145, 139.891089)",O+,[https://alves.br/],anthony57,ESTHER SANTOS,Feminino,2012-06-01
711,Carvalho,28397.014640,"Distrito Costa, 83 Castelo 85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,"[https://www.correia.com/, https://teixeira.ne...",zsilveira,LAVÍNIA PEIXOTO,Feminino,1947-05-01
765,da Cunha - ME,36420.985170,Pátio Ferreira Nossa Senhora De Fátima 61790-4...,"(-39.9396565, -167.643257)",B-,"[https://costela.com/, http://melo.com/]",eda-paz,SR. RODRIGO RAMOS,Masculino,1932-12-28
477,Melo,58274.309197,"Sítio de Alves, 28 Serra Verde 49833387 Lima d...","(17.6954405, -80.903456)",B+,"[http://lima.com/, http://www.moraes.com/, htt...",kmonteiro,ANTÔNIO FREITAS,Masculino,1958-01-07
966,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7 Das Industrias I 85600-417 da C...","(-40.1585215, 102.703068)",AB-,"[http://www.teixeira.br/, http://ferreira.org/...",gustavo-henrique67,MARIA SOPHIA CUNHA,Feminino,1912-12-09
595,Correia,67430.258107,"Morro Francisco da Conceição, 26 Havaí 6372383...","(70.3161285, 87.771628)",AB-,"[http://gomes.net/, https://moreira.com/]",leonardo96,DRA. ELOAH BARROS,Feminino,1994-04-13
941,Rocha,64203.598729,"Avenida de Cavalcanti, 408 Vila De Sá 30909-17...","(-64.969722, 3.300348)",AB-,[https://www.martins.com/],aragaodaniel,LÍVIA ARAGÃO,Feminino,2004-11-21
710,da Cruz,13948.650233,"Sítio Bruno Barros, 307 Santo Agostinho 554803...","(-8.1833245, 178.948782)",O+,"[https://www.da.br/, http://www.lopes.com/, ht...",amandacaldeira,MARCOS VINICIUS LIMA,Masculino,1938-05-17
253,Dias,36945.107884,"Estrada Eloah Sales, 598 Vila Aeroporto Jaragu...","(-64.9420375, -83.533286)",O+,"[https://www.santos.com/, http://www.rocha.com...",ccastro,YURI NUNES,Masculino,1919-03-10

In [235]:
df3.drop(columns=['website', 'birthdate']) # para deixar na memoria, basta utilizar inplace=True

,company,ssn,residence,current_location,blood_group,username,name,sex
755,da Cruz,96152.308712,"Setor Letícia Moreira, 29 Vila Primeiro De Mai...","(25.1405145, 139.891089)",O+,anthony57,ESTHER SANTOS,Feminino
711,Carvalho,28397.014640,"Distrito Costa, 83 Castelo 85489-014 Nunes / RJ","(84.655873, -11.840715)",A+,zsilveira,LAVÍNIA PEIXOTO,Feminino
765,da Cunha - ME,36420.985170,Pátio Ferreira Nossa Senhora De Fátima 61790-4...,"(-39.9396565, -167.643257)",B-,eda-paz,SR. RODRIGO RAMOS,Masculino
477,Melo,58274.309197,"Sítio de Alves, 28 Serra Verde 49833387 Lima d...","(17.6954405, -80.903456)",B+,kmonteiro,ANTÔNIO FREITAS,Masculino
966,Rezende Ribeiro Ltda.,53690.472865,"Área Araújo, 7 Das Industrias I 85600-417 da C...","(-40.1585215, 102.703068)",AB-,gustavo-henrique67,MARIA SOPHIA CUNHA,Feminino
595,Correia,67430.258107,"Morro Francisco da Conceição, 26 Havaí 6372383...","(70.3161285, 87.771628)",AB-,leonardo96,DRA. ELOAH BARROS,Feminino
941,Rocha,64203.598729,"Avenida de Cavalcanti, 408 Vila De Sá 30909-17...","(-64.969722, 3.300348)",AB-,aragaodaniel,LÍVIA ARAGÃO,Feminino
926,da Paz - ME,89370.621431,"Lago Amanda Oliveira, 7 Marilandia 25208-328 d...","(29.926771, 6.163834)",A-,yagosantos,MARIA VITÓRIA DA LUZ,Feminino
710,da Cruz,13948.650233,"Sítio Bruno Barros, 307 Santo Agostinho 554803...","(-8.1833245, 178.948782)",O+,amandacaldeira,MARCOS VINICIUS LIMA,Masculino
253,Dias,36945.107884,"Estrada Eloah Sales, 598 Vila Aeroporto Jaragu...","(-64.9420375, -83.533286)",O+,ccastro,YURI NUNES,Masculino

### Métodos importantes

In [236]:
# gerando outro dataset 
df = make_fake_data(5000)
del df['residence']

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               5000 non-null   object
 1   company           5000 non-null   object
 2   ssn               5000 non-null   object
 3   current_location  5000 non-null   object
 4   blood_group       5000 non-null   object
 5   website           5000 non-null   object
 6   username          5000 non-null   object
 7   name              5000 non-null   object
 8   sex               5000 non-null   object
 9   birthdate         5000 non-null   object
dtypes: object(10)
memory usage: 390.8+ KB

In [238]:
df['ssn'] = df['ssn'].astype(float)

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               5000 non-null   object
 1   company           5000 non-null   object
 2   ssn               5000 non-null   float64
 3   current_location  5000 non-null   object
 4   blood_group       5000 non-null   object
 5   website           5000 non-null   object
 6   username          5000 non-null   object
 7   name              5000 non-null   object
 8   sex               5000 non-null   object
 9   birthdate         5000 non-null   object
dtypes: float64(1), object(9)
memory usage: 390.8+ KB

In [240]:
df['ssn'] = df['ssn']/ 10e6

In [241]:
df.rename(columns={'ssn':'salary'}, inplace=True)

### Unstack
> `Transforma o indice mais proximo da coluna em outra coluna`

In [242]:
grouped = df.groupby(['job', 'sex'])[['salary']].mean()

In [243]:
# note q esta dataset é multindex e em alguns casos não haverá dados para o sex = 'M' ou 'F' e o job só possui uma linha apenas.
grouped

                                salary
job                   sex
Acompanhante          F    6283.527555
Acupunturista         F    4773.328201
                      M    5122.754151
Adestrador de animais F    4951.557184
                      M    5312.737367
...                                ...
Zelador               M    2493.675011
Zootecnista           F    4124.483635
                      M    2248.507363
Árbitro e mediador    F    8067.499287
                      M    2542.118439

[1444 rows x 1 columns]

In [244]:
unstack = grouped.unstack()
unstack

                                          salary
sex                                            F            M
job
Acompanhante                         6283.527555          NaN
Acupunturista                        4773.328201  5122.754151
Adestrador de animais                4951.557184  5312.737367
Administrador                        6254.254707  5981.396256
Administrador de banco de dados DBA  4532.735925  6556.428697
...                                          ...          ...
Windsurfer                           3752.447267  3952.796251
Xilógrafo                            8794.863259  3600.324472
Zelador                              5088.564158  2493.675011
Zootecnista                          4124.483635  2248.507363
Árbitro e mediador                   8067.499287  2542.118439

[747 rows x 2 columns]

### FillNa

In [245]:
# preencher as celulas sem dados com zeros
unstack.fillna(0)

                                          salary
sex                                            F            M
job
Acompanhante                         6283.527555     0.000000
Acupunturista                        4773.328201  5122.754151
Adestrador de animais                4951.557184  5312.737367
Administrador                        6254.254707  5981.396256
Administrador de banco de dados DBA  4532.735925  6556.428697
...                                          ...          ...
Windsurfer                           3752.447267  3952.796251
Xilógrafo                            8794.863259  3600.324472
Zelador                              5088.564158  2493.675011
Zootecnista                          4124.483635  2248.507363
Árbitro e mediador                   8067.499287  2542.118439

[747 rows x 2 columns]

In [246]:
# Para fazer utilizando o primeiro indice em colunas
grouped.unstack(0)

          salary                                                    \
job Acompanhante Acupunturista Adestrador de animais Administrador
sex
F    6283.527555   4773.328201           4951.557184   6254.254707
M            NaN   5122.754151           5312.737367   5981.396256

                                                                \
job Administrador de banco de dados DBA Administrador de redes
sex
F                           4532.735925             4761.34822
M                           6556.428697              970.44759

                                                                  ...  \
job Administrador público     Advogado     Aeromoça    Aeronauta  ...
sex                                                               ...
F             8049.213561  1094.756237  3845.436943  3259.971920  ...
M             6417.288522  3939.658673  4599.486350  4119.696876  ...

                                                                     \
job   Violonista Vistoriador de sinistros   Viveirista  Webdesigner
sex
F    1030.616656              1349.573789  5686.512361  4958.037702
M    2619.053472              5362.104364  6201.030865  7009.821520

                                                                      \
job    Webmaster   Windsurfer    Xilógrafo      Zelador  Zootecnista
sex
F    3688.973737  3752.447267  8794.863259  5088.564158  4124.483635
M            NaN  3952.796251  3600.324472  2493.675011  2248.507363


job Árbitro e mediador
sex
F          8067.499287
M          2542.118439

[2 rows x 747 columns]

### Stack
> `Para fazer o inverso do unstack`

In [247]:
stacked = unstack.stack()
transp  = stacked
stacked

                                salary
job                   sex
Acompanhante          F    6283.527555
Acupunturista         F    4773.328201
                      M    5122.754151
Adestrador de animais F    4951.557184
                      M    5312.737367
...                                ...
Zelador               M    2493.675011
Zootecnista           F    4124.483635
                      M    2248.507363
Árbitro e mediador    F    8067.499287
                      M    2542.118439

[1444 rows x 1 columns]

In [248]:
unstack.reset_index()

                                     job       salary
sex                                                 F            M
0                           Acompanhante  6283.527555          NaN
1                          Acupunturista  4773.328201  5122.754151
2                  Adestrador de animais  4951.557184  5312.737367
3                          Administrador  6254.254707  5981.396256
4    Administrador de banco de dados DBA  4532.735925  6556.428697
..                                   ...          ...          ...
742                           Windsurfer  3752.447267  3952.796251
743                            Xilógrafo  8794.863259  3600.324472
744                              Zelador  5088.564158  2493.675011
745                          Zootecnista  4124.483635  2248.507363
746                   Árbitro e mediador  8067.499287  2542.118439

[747 rows x 3 columns]

### Transpose

In [249]:
transp.transpose()

job    Acompanhante Acupunturista              Adestrador de animais  \
sex               F             F            M                     F
salary  6283.527555   4773.328201  5122.754151           4951.557184

job                 Administrador               \
sex               M             F            M
salary  5312.737367   6254.254707  5981.396256

job    Administrador de banco de dados DBA               \
sex                                      F            M
salary                         4532.735925  6556.428697

job    Administrador de redes  ...   Windsurfer                 Xilógrafo  \
sex                         F  ...            F            M            F
salary             4761.34822  ...  3752.447267  3952.796251  8794.863259

job                      Zelador               Zootecnista               \
sex               M            F            M            F            M
salary  3600.324472  5088.564158  2493.675011  4124.483635  2248.507363

job    Árbitro e mediador
sex                     F            M
salary        8067.499287  2542.118439

[1 rows x 1444 columns]

In [250]:
res = stacked.reset_index()
res

                        job sex       salary
0              Acompanhante   F  6283.527555
1             Acupunturista   F  4773.328201
2             Acupunturista   M  5122.754151
3     Adestrador de animais   F  4951.557184
4     Adestrador de animais   M  5312.737367
...                     ...  ..          ...
1439                Zelador   M  2493.675011
1440            Zootecnista   F  4124.483635
1441            Zootecnista   M  2248.507363
1442     Árbitro e mediador   F  8067.499287
1443     Árbitro e mediador   M  2542.118439

[1444 rows x 3 columns]

### Pivot Table

In [252]:
res.pivot_table(values='salary', index='job', columns='sex')

sex                                            F            M
job
Acompanhante                         6283.527555          NaN
Acupunturista                        4773.328201  5122.754151
Adestrador de animais                4951.557184  5312.737367
Administrador                        6254.254707  5981.396256
Administrador de banco de dados DBA  4532.735925  6556.428697
...                                          ...          ...
Windsurfer                           3752.447267  3952.796251
Xilógrafo                            8794.863259  3600.324472
Zelador                              5088.564158  2493.675011
Zootecnista                          4124.483635  2248.507363
Árbitro e mediador                   8067.499287  2542.118439

[747 rows x 2 columns]

# Value Counts

In [253]:
df.blood_group.value_counts()

A-     644
B+     641
O+     635
B-     627
AB+    625
A+     612
AB-    609
O-     607
Name: blood_group, dtype: int64

In [256]:
# para gerar um dataframe dos dados acima
contagem_sanguinea = df.blood_group.value_counts().to_frame()
contagem_sanguinea

     blood_group
A-           644
B+           641
O+           635
B-           627
AB+          625
A+           612
AB-          609
O-           607

In [258]:
contagem_sanguinea.sort_index()

     blood_group
A+           612
A-           644
AB+          625
AB-          609
B+           641
B-           627
O+           635
O-           607

In [259]:
contagem_sanguinea.sort_values(by='blood_group')

     blood_group
O-           607
AB-          609
A+           612
AB+          625
B-           627
O+           635
B+           641
A-           644

In [261]:
contagem_sanguinea.insert(0,"ID", range(len(contagem_sanguinea)))

In [262]:
contagem_sanguinea

     ID  blood_group
A-    0          644
B+    1          641
O+    2          635
B-    3          627
AB+   4          625
A+    5          612
AB-   6          609
O-    7          607

In [264]:
contagem_sanguinea.sort_values(by='ID', ascending=False)

     ID  blood_group
O-    7          607
AB-   6          609
A+    5          612
AB+   4          625
B-    3          627
O+    2          635
B+    1          641
A-    0          644

In [265]:
# regras de ordenação composta
# um campo com asc e outro como desc
contagem_sanguinea.sort_values(by=['blood_group', 'ID'], ascending=[True, False])

     ID  blood_group
O-    7          607
AB-   6          609
A+    5          612
AB+   4          625
B-    3          627
O+    2          635
B+    1          641
A-    0          644

### Explode

In [266]:
df.website.explode()

0            https://lopes.br/
0          https://www.da.org/
0       https://nascimento.br/
1            https://rocha.br/
2       https://www.vieira.br/
                 ...
4998             http://da.br/
4998       http://pereira.net/
4999            http://da.com/
4999         https://silva.br/
4999        http://www.da.com/
Name: website, Length: 12446, dtype: object

In [268]:
# somente os valores
df.website.explode().values

array(['https://lopes.br/', 'https://www.da.org/',
       'https://nascimento.br/', ..., 'http://da.com/',
       'https://silva.br/', 'http://www.da.com/'], dtype=object)

In [270]:
# transformando em lista
lista_sites = list(df.website.explode().values)

### read_clipboard
> `Copia elementos do clipboard já transformando em dataframes`

- site exemplo https://www.todamateria.com.br/estados-do-brasil/ -

In [271]:
uf_br = pd.read_clipboard()

In [272]:
uf_br

                 Estado Sigla         Capital
0                  Acre    AC      Rio Branco
1               Alagoas    AL          Maceió
2                 Amapá    AP          Macapá
3              Amazonas    AM          Manaus
4                 Bahia    BA        Salvador
5                 Ceará    CE       Fortaleza
6        Espírito Santo    ES         Vitória
7                 Goiás    GO         Goiânia
8              Maranhão    MA        São Luís
9           Mato Grosso    MT          Cuiabá
10   Mato Grosso do Sul    MS    Campo Grande
11         Minas Gerais    MG  Belo Horizonte
12                 Pará    PA           Belém
13              Paraíba    PB     João Pessoa
14               Paraná    PR        Curitiba
15           Pernambuco    PE          Recife
16                Piauí    PI        Teresina
17       Rio de Janeiro    RJ  Rio de Janeiro
18  Rio Grande do Norte    RN           Natal
19    Rio Grande do Sul    RS    Porto Alegre
20             Rondônia    RO     Porto Velho
21              Roraima    RR       Boa Vista
22       Santa Catarina    SC   Florianópolis
23            São Paulo    SP       São Paulo
24              Sergipe    SE         Aracaju
25            Tocantins    TO          Palmas

In [275]:
# para fins didaticos, queremos add uma coluna UF em nosso df, colocado aleatoreamente, para isso usaremos uma função no numpy
df1 = df.head(100).copy()


df2 = df[101:201].copy()

In [277]:
df1['Sigla'] = np.random.choice(uf_br.Sigla.unique(), len(df1))
df1

,job,company,salary,current_location,blood_group,website,username,name,sex,birthdate,Sigla
0,Carnavalesco,Silva,8921.754032,"(82.5540815, 143.909076)",B+,"[https://lopes.br/, https://www.da.org/, https...",clarice62,Luiz Henrique Campos,M,1996-12-02,AL
1,Cobrador de pedágio,Sales,6872.594307,"(28.655761, -124.581833)",O+,[https://rocha.br/],araujojuan,Diego Almeida,M,1991-09-11,AP
2,Ombudsman,Moraes Barbosa - ME,5864.172031,"(44.5817825, 169.507802)",O+,"[https://www.vieira.br/, http://da.br/, https:...",lgomes,Gustavo Henrique Fogaça,M,1957-12-17,AL
3,Quadrinista,Martins,7028.935469,"(87.6465955, -170.277372)",AB+,"[http://www.rodrigues.org/, https://www.da.br/...",qnogueira,Bianca da Costa,F,2010-10-18,PB
4,Guincheiro,Araújo S.A.,8710.549234,"(-33.5538125, -154.010387)",O+,[http://www.barros.br/],calebe51,Lucas Campos,M,1991-07-22,AL
...,...,...,...,...,...,...,...,...,...,...,...
95,Lancheiro,Cardoso e Filhos,794.162380,"(-35.047257, 72.794278)",O+,[http://www.duarte.net/],vieiramaria-clara,Kamilly Freitas,F,1950-12-16,MG
96,Seguidor de compras,Lopes,217.459366,"(14.6067055, 25.232013)",B+,"[http://www.cavalcanti.br/, http://jesus.com/]",nascimentonatalia,Eduardo da Cruz,M,1978-12-23,PB
97,Conferente de expedição,Campos Jesus S.A.,9126.340755,"(-61.3083225, -70.199385)",B-,"[https://www.novaes.br/, https://santos.net/]",agathacastro,Ana Beatriz Nascimento,F,1915-12-02,CE
98,Transportador,Nunes,3421.978603,"(40.975675, -110.909263)",B+,[http://www.rezende.br/],da-cunhacaue,Lucas Gabriel da Mata,M,2016-05-05,PB
99,Pedicure,das Neves - EI,2083.165942,"(54.599131, 31.263637)",B+,"[https://da.com/, https://lima.com/, http://di...",noahda-conceicao,Erick Rodrigues,M,2013-05-04,AM

### Merge

In [279]:
merged = pd.merge(df1, uf_br, on='Sigla', how='inner')
merged

,job,company,salary,current_location,blood_group,website,username,name,sex,birthdate,Sigla,Estado,Capital
0,Carnavalesco,Silva,8921.754032,"(82.5540815, 143.909076)",B+,"[https://lopes.br/, https://www.da.org/, https...",clarice62,Luiz Henrique Campos,M,1996-12-02,AL,Alagoas,Maceió
1,Ombudsman,Moraes Barbosa - ME,5864.172031,"(44.5817825, 169.507802)",O+,"[https://www.vieira.br/, http://da.br/, https:...",lgomes,Gustavo Henrique Fogaça,M,1957-12-17,AL,Alagoas,Maceió
2,Guincheiro,Araújo S.A.,8710.549234,"(-33.5538125, -154.010387)",O+,[http://www.barros.br/],calebe51,Lucas Campos,M,1991-07-22,AL,Alagoas,Maceió
3,Engenheiro naval,Cunha - EI,4256.807390,"(-55.8798685, -23.362755)",B+,"[http://www.jesus.com/, http://www.rocha.br/, ...",elisasouza,Emanuelly Almeida,F,1952-10-20,AL,Alagoas,Maceió
4,Desembargador de justiça,Alves,7493.280170,"(44.0137895, -80.723842)",AB-,"[http://moura.org/, https://www.da.br/]",ana-luiza95,Lucas Gabriel Santos,M,1925-12-18,AL,Alagoas,Maceió
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Aviador,Correia,4560.319286,"(21.368605, -13.630159)",O+,"[http://www.porto.br/, http://cardoso.br/, htt...",melojoao-felipe,Alexandre Jesus,M,1939-08-30,SC,Santa Catarina,Florianópolis
96,Webdesigner,Cardoso,5628.403793,"(-64.2884785, -43.409574)",A-,"[https://rezende.com/, https://www.fernandes.br/]",luana61,Augusto da Conceição,M,1971-12-14,MS,Mato Grosso do Sul,Campo Grande
97,Acupunturista,Porto Lopes Ltda.,2817.609530,"(66.5487445, 126.953687)",A+,"[https://fernandes.com/, http://teixeira.br/, ...",thiago42,Bernardo Castro,M,1936-08-08,MS,Mato Grosso do Sul,Campo Grande
98,Brigadeiro,Araújo Silveira - EI,124.785395,"(24.260925, -99.672525)",B-,"[https://castro.com/, https://www.alves.com/, ...",davi-lucca23,João Miguel Martins,M,2012-11-20,MS,Mato Grosso do Sul,Campo Grande
99,Psiquiatra,Silva,239.478657,"(-41.625162, -163.383881)",O+,"[https://campos.com/, http://www.da.com/, http...",xcaldeira,Davi Lucas das Neves,M,2003-01-31,AC,Acre,Rio Branco

### Concat

In [280]:
df3 = df[201:301].copy()

In [281]:
pd.concat([df2,df3])

,job,company,salary,current_location,blood_group,website,username,name,sex,birthdate
101,Engenheiro elétrico,Cavalcanti Cunha - EI,7598.012637,"(83.0766235, -129.184839)",O+,"[https://www.correia.net/, https://da.br/]",laragao,Raul Castro,M,2018-04-12
102,Impressor,Souza,1768.549037,"(-46.939451, -36.002896)",B+,[https://nogueira.com/],gda-cruz,Murilo Duarte,M,1929-03-25
103,Sonoplasta,Souza,9405.763288,"(28.1792735, -150.923899)",O+,[http://www.lima.org/],barrosluna,Maria Sophia da Luz,F,1943-03-17
104,Procurador de justiça,Gomes e Filhos,2835.016970,"(25.246783, -175.399468)",A+,"[https://www.pinto.org/, http://viana.br/, htt...",jmonteiro,Dra. Ana Aragão,F,1979-06-21
105,Neonatologista,das Neves e Filhos,7869.430154,"(81.4016155, -80.198667)",B+,[https://porto.org/],caroline50,João Gabriel Alves,M,1959-06-10
...,...,...,...,...,...,...,...,...,...,...
296,Jogador de tênis de mesa,Rezende S/A,1086.435729,"(52.981904, 8.953207)",O+,"[http://www.castro.net/, https://www.ferreira....",dmoraes,Dr. Renan da Paz,M,1957-10-11
297,Cinematográfo,Novaes - EI,532.679849,"(-10.6259625, -116.495177)",AB+,[https://da.br/],ribeiromaria-sophia,Dra. Stephany Ramos,F,1913-03-28
298,Adestrador de animais,Moraes,5917.240389,"(-37.7469695, 109.909408)",A+,[https://www.duarte.com/],cda-paz,Pietro da Conceição,M,1979-07-23
299,Repórter,Oliveira S.A.,1067.943528,"(3.041318, 108.979654)",AB-,[http://costa.com/],da-pazclarice,Henrique Lima,M,2015-07-25
300,Pescador,Cardoso da Cruz Ltda.,2109.635843,"(3.521959, -38.820333)",O+,"[http://www.barros.com/, https://www.das.br/, ...",kamillyramos,Davi Luiz da Paz,M,1975-06-21