In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [3]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01  1.462615 -0.285293  0.919391  1.163474
2020-01-02  0.055746  0.438836  0.079301  0.683052
2020-01-03  0.565101 -0.881466  0.417141  0.484943
2020-01-04  0.232900  1.457195  0.552843 -0.551849
2020-01-05  0.004785 -1.449325  0.077949 -0.308681
2020-01-06  0.378662  1.185189 -0.519344  0.756860

In [7]:
df_T = df.T
df_T

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A    1.462615    0.055746    0.565101    0.232900    0.004785    0.378662
Var_B   -0.285293    0.438836   -0.881466    1.457195   -1.449325    1.185189
Var_C    0.919391    0.079301    0.417141    0.552843    0.077949   -0.519344
Var_D    1.163474    0.683052    0.484943   -0.551849   -0.308681    0.756860

In [8]:
df.shape

(6, 4)

In [9]:
df_T.shape

(4, 6)

In [10]:
df_T.values

array([[ 1.46261464,  0.05574624,  0.56510094,  0.23290046,  0.00478484,
         0.37866241],
       [-0.28529289,  0.43883587, -0.88146614,  1.45719519, -1.44932542,
         1.18518857],
       [ 0.91939145,  0.07930137,  0.417141  ,  0.55284303,  0.07794877,
        -0.51934367],
       [ 1.16347356,  0.68305238,  0.48494313, -0.55184906, -0.3086812 ,
         0.75685954]])

In [11]:
v = df_T.values

In [13]:
np.size(v)

24

### Realizando a transformação do dado

In [14]:
v.reshape((2,12))

array([[ 1.46261464,  0.05574624,  0.56510094,  0.23290046,  0.00478484,
         0.37866241, -0.28529289,  0.43883587, -0.88146614,  1.45719519,
        -1.44932542,  1.18518857],
       [ 0.91939145,  0.07930137,  0.417141  ,  0.55284303,  0.07794877,
        -0.51934367,  1.16347356,  0.68305238,  0.48494313, -0.55184906,
        -0.3086812 ,  0.75685954]])

In [15]:
v.reshape((4,6))

array([[ 1.46261464,  0.05574624,  0.56510094,  0.23290046,  0.00478484,
         0.37866241],
       [-0.28529289,  0.43883587, -0.88146614,  1.45719519, -1.44932542,
         1.18518857],
       [ 0.91939145,  0.07930137,  0.417141  ,  0.55284303,  0.07794877,
        -0.51934367],
       [ 1.16347356,  0.68305238,  0.48494313, -0.55184906, -0.3086812 ,
         0.75685954]])