In [4]:
#!pip install numpy
#!pip install pandas

Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-win_amd64.whl (8.7 MB)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\victor.bertoldo\appdata\local\continuum\anaconda3\envs\scripts-py\lib\site-packages (from pandas) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\victor.bertoldo\appdata\local\continuum\anaconda3\envs\scripts-py\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\victor.bertoldo\appdata\local\continuum\anaconda3\envs\scripts-py\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.0.3 pytz-2020.1

In [5]:
import numpy as np
import pandas as pd

# Criando uma Series

In [8]:
series = pd.Series([7, 4, 2, np.nan, 9])
series

0    7.0
1    4.0
2    2.0
3    NaN
4    9.0
dtype: float64

In [9]:
type(series)

pandas.core.series.Series

# Trabalhando com datas

In [33]:
datas = pd.date_range('20200101', periods = 6, freq="D") # a frequencia pode ser em Meses, Anos, Segundos, minutos, etc
for i in datas:
    print(i)

2020-01-01 00:00:00
2020-01-02 00:00:00
2020-01-03 00:00:00
2020-01-04 00:00:00
2020-01-05 00:00:00
2020-01-06 00:00:00

> Usando range de datas como parametro do loop

### Visualizar os detalhes da função

In [24]:
#? pd.date_range

## Gerando conjunto de dados

#### Usando metodo randon para gerar uma matriz numerica:

In [31]:
np.random.randn(6,4)

array([[-0.65463528,  0.84414194, -0.1486051 , -2.58002675],
       [ 0.00345958, -0.44670488,  1.00580252, -0.72912755],
       [-1.2886744 , -0.61210355,  0.88057828,  0.36612228],
       [ 2.78785309,  1.34947596, -0.22742894, -0.53248508],
       [ 0.39615949, -0.02625976,  0.70339162, -1.53016949],
       [ 1.39458788,  0.54107167, -0.22423704, -1.77565755]])

> 6 linhas por 4 colunas de numeros randomicos. Ao usar a função randn(), os numeros são gerados respeitando a distribuição normal. Com média 0 e desvio padrão 1

#### Vamos usar a series "datas" que acabamos de criar, como index do dataframe.

In [34]:
datas

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

#### Vamos criar uma lista para ser o label das colunas

In [35]:
list("ABCD")

['A', 'B', 'C', 'D']

### Agora vamos juntar tudo isso e criar um dataframe

In [37]:
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))
df

                   A         B         C         D
2020-01-01  0.106620 -1.561879 -0.496589 -0.326948
2020-01-02 -1.856488 -1.158822 -0.275200  1.553850
2020-01-03 -0.496088  0.471509 -0.935545 -0.340063
2020-01-04 -0.955097 -0.078001  1.360610 -1.698194
2020-01-05  0.565562 -1.056005 -0.464984 -0.767153
2020-01-06  1.762219 -0.773284  1.249304 -0.856101

In [38]:
type(df)

pandas.core.frame.DataFrame

### Outra forma de gerar um DataFrame
#### Gerando a partir de um dicionário (dict)

In [42]:
df2 = pd.DataFrame({"A":7,
                    "B": pd.Timestamp('20200101'),
                    "C": pd.Series(1, index=list(range(4)), dtype='float32'),
                    "D": np.array([3] * 4, dtype='int32'),
                    "E": pd.Categorical(["test", "train", "test", "train"]),
                    "F": 'Python'
                   })
df2

   A          B    C  D      E       F
0  7 2020-01-01  1.0  3   test  Python
1  7 2020-01-01  1.0  3  train  Python
2  7 2020-01-01  1.0  3   test  Python
3  7 2020-01-01  1.0  3  train  Python

### Verificando os tipos de dados em cada coluna do dataframe

In [43]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object