In [1]:
import numpy as np
import pandas as pd

# Gerando um dataframe maior

In [3]:
datas = pd.date_range('20200101', periods = 60, freq="D") # desta forma ir√° gerar 60 linhas 

df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list("ABCDE"))

#### Qtd de linhas e colunas do DataFrame

In [5]:
df.shape

(60, 5)

In [6]:
df.head()

                   A         B         C         D         E
2020-01-01  0.312335 -1.857820  0.079510 -1.254958 -0.701024
2020-01-02 -1.079757 -0.281823  0.015584 -1.389458 -0.687168
2020-01-03 -0.212579 -0.207260 -0.379821  0.752350  0.000577
2020-01-04 -0.699804 -1.025902 -0.202052 -1.745956 -0.392921
2020-01-05  0.277698 -0.411488 -0.426055  1.206849 -0.152562

### Adicionando colunas ao DataFrame

In [7]:
df['F'] = 1

In [8]:
df.head()

                   A         B         C         D         E  F
2020-01-01  0.312335 -1.857820  0.079510 -1.254958 -0.701024  1
2020-01-02 -1.079757 -0.281823  0.015584 -1.389458 -0.687168  1
2020-01-03 -0.212579 -0.207260 -0.379821  0.752350  0.000577  1
2020-01-04 -0.699804 -1.025902 -0.202052 -1.745956 -0.392921  1
2020-01-05  0.277698 -0.411488 -0.426055  1.206849 -0.152562  1

In [9]:
df['G'] = range(60)

In [10]:
df.head()

                   A         B         C         D         E  F  G
2020-01-01  0.312335 -1.857820  0.079510 -1.254958 -0.701024  1  0
2020-01-02 -1.079757 -0.281823  0.015584 -1.389458 -0.687168  1  1
2020-01-03 -0.212579 -0.207260 -0.379821  0.752350  0.000577  1  2
2020-01-04 -0.699804 -1.025902 -0.202052 -1.745956 -0.392921  1  3
2020-01-05  0.277698 -0.411488 -0.426055  1.206849 -0.152562  1  4

### Adicionando colunas calculadas

In [11]:
df['Produto'] = df['A'] * df['B']

df.head()

                   A         B         C         D         E  F  G   Produto
2020-01-01  0.312335 -1.857820  0.079510 -1.254958 -0.701024  1  0 -0.580262
2020-01-02 -1.079757 -0.281823  0.015584 -1.389458 -0.687168  1  1  0.304300
2020-01-03 -0.212579 -0.207260 -0.379821  0.752350  0.000577  1  2  0.044059
2020-01-04 -0.699804 -1.025902 -0.202052 -1.745956 -0.392921  1  3  0.717931
2020-01-05  0.277698 -0.411488 -0.426055  1.206849 -0.152562  1  4 -0.114270

### Editando valores de colunas pr√©-existentes

In [12]:
df['D'] = df['D'] * 80

df.head()

                   A         B         C           D         E  F  G   Produto
2020-01-01  0.312335 -1.857820  0.079510 -100.396657 -0.701024  1  0 -0.580262
2020-01-02 -1.079757 -0.281823  0.015584 -111.156628 -0.687168  1  1  0.304300
2020-01-03 -0.212579 -0.207260 -0.379821   60.188034  0.000577  1  2  0.044059
2020-01-04 -0.699804 -1.025902 -0.202052 -139.676445 -0.392921  1  3  0.717931
2020-01-05  0.277698 -0.411488 -0.426055   96.547953 -0.152562  1  4 -0.114270