# Agregações
### Usando o Group By

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({ 'A': ['verdadeiro','falso','verdadeiro','falso',
                          'verdadeiro','falso','verdadeiro','falso'],
                      'B': ['um', 'um', 'dois', 'tres',
                            'dois', 'dois', 'um', 'tres'],
                      'C': np.random.randn(8),
                        'D': np.random.randn(8)
                  })
df

            A     B         C         D
0  verdadeiro    um -0.689106 -0.921138
1       falso    um -0.304961 -1.558142
2  verdadeiro  dois  1.596476  0.221199
3       falso  tres -2.122548 -1.450915
4  verdadeiro  dois  1.050929  0.351785
5       falso  dois -0.756094 -0.585460
6  verdadeiro    um  0.296941  0.287261
7       falso  tres  0.837394  0.341530

In [3]:
df.groupby(['A']).sum()

                   C         D
A
falso      -2.346208 -3.252988
verdadeiro  2.255240 -0.060891

In [4]:
df.groupby(['B']).mean()

             C         D
B
dois  0.630437 -0.004158
tres -0.642577 -0.554693
um   -0.232375 -0.730673

> Desta forma o groupby agrega as colunas passadas como paramentros e a operação com os valores numericos do dataframe

### Agrupar por 2 ou mais colunas

In [5]:
df.groupby(['A', 'B']).sum()

                        C         D
A          B
falso      dois -0.756094 -0.585460
           tres -1.285154 -1.109385
           um   -0.304961 -1.558142
verdadeiro dois  2.647405  0.572985
           um   -0.392165 -0.633876